<!DOCTYPE html>
<html>
<head>
    <title>Company Services - Bridgelinkhk</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/animate.css">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/style.css">
    <style type="text/css">
        .scrollax-performance, .scrollax-performance *, .scrollax-performance *:before, .scrollax-performance *:after {
            pointer-events: none !important;
            -webkit-animation-play-state: paused !important;
            animation-play-state: paused !important;
        }

        
    </style>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/42/5/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/42/5/util.js"></script>
</head>
<body>
    <div class="container-fluid px-md-5  pt-4 pt-md-5">
        <div class="row justify-content-between">
            <div class="col-md-8 order-md-last">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <a class="navbar-brand" href="/Home/Index"><img src="~/images/brigelinklogo.png" width="263" height="85" /></a>
                    </div>
                    <div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">

                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="social-media">
                    <p class="mb-0 d-flex">
                        <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item active"><a href="/Home/Index" class="nav-link">主頁</a></li>
                    <li class="nav-item"><a href="/Home/AIAccounting" class="nav-link">博翹人工智能會計</a></li>
                    <li class="nav-item"><a href="/Home/LogoDesign" class="nav-link">標誌設計</a></li>
                    <li class="nav-item"><a href="/Home/WebDesignHosting" class="nav-link">網站設計和管理</a></li>
                    <li class="nav-item"><a href="/Home/AccountServices" class="nav-link">註册公司及核數服務</a></li>
                    <li class="nav-item"><a href="/Home/GovernmentSubsidy" class="nav-link">政府資助計劃</a></li>

                </ul>
            </div>
        </div>
    </nav>


    @RenderBody()
    <footer class="ftco-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-9 py-5">
                    <div class="row">
                        <div class="col-md-4 mb-md-0 mb-4 ftco-animate">
                            <h2 class="footer-heading">博翹國際</h2>
                            <p>
                                一直致力協助中小企業、經營和發展服務，本所能有效和專業地令貴公司迅速發展。本所總部設於香港，並於加拿大、新加坡及深圳設有分公司。 秉承著「誠信、穩健、保密、專業」的宗旨，多年來用心為位客戶提供卓越服務。
                            </p>
                            <ul class="ftco-footer-social p-0">
                                <li class="ftco-animate"><a href="https://api.whatsapp.com/send?phone=85267998870" target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fa fa-whatsapp"></span></a></li>
                                <li class="ftco-animate"><a href="https://www.facebook.com/%E5%8D%9A%E7%BF%B9%E5%9C%8B%E9%9A%9B%E7%A7%BB%E6%B0%91%E5%8F%8A%E5%8D%87%E5%AD%B8-108865273938240" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="https://instagram.com/bridgelinkhk?idshid=wlh9mbnl044k" target="_blank" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <div class="row justify-content-center">
                                <div class="col-md-12 col-lg-10">
                                    <div class="row">
                                        <div class="col-md-12 mb-md-0 mb-4 ftco-animate">
                                            <h2 class="footer-heading">
                                                聯絡我們
                                            </h2>
                                            <table class="text-white">
                                                <tr>
                                                    <td>聯絡電話：</td>
                                                    <td>(852) 3101 4978</td>
                                                </tr>
                                                <tr>
                                                    <td>商務溝通：</td>
                                                    <td><a href="mailto:info@bridgelinkhk.com">info@bridgelinkhk.com</a></td>
                                                </tr>
                                                <tr>
                                                    <td>服務時間：</td>
                                                    <td>09：00 – 18：00</td>
                                                </tr>
                                                <tr>
                                                    <td>公司地址：</td>
                                                    <td>九龍尖沙咀海港城海洋中心11樓1112A室</td>
                                                </tr>
                                                <tr>
                                                    <td>新加坡分公司地址：</td>
                                                    <td>60 Paya Lebar Road #11-27,<br />Paya Lebar Square, Singapore<br /> 490051</td>
                                                </tr>
                                                <tr>
                                                    <td>加拿大分公司地址：</td>
                                                    <td>
                                                        1108 - 250 Consumers Road#162<br />
                                                        North York, ON M2J 4V6
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-md-5">
                        <div class="col-md-12">
                            <p class="copyright">

                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | Bridgelink International

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 py-md-5 py-4 aside-stretch-right pl-lg-5">
                    @using (Html.BeginForm("Contact", "ContactUs", FormMethod.Post, new { onsubmit = "return SubmitContactUsFormFooter(this)" }))

                    {
                        <div id="ContactUsFormFooter">
                            <h2 class="footer-heading">免費諮詢</h2>

                            <div class="form-group">
                                <input type="text" class="form-control" name="ContactNameFooter" id="ContactNameFooter" placeholder="您的名字">
                                <span id="ErrContactNameFooter" style="color:#ff0000;font-size:large"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="ContactEmailFooter" id="ContactEmailFooter" placeholder="電子郵件地址">
                                <span id="ErrContactEmailFooter" style="color:#ff0000;font-size:large"></span>
                            </div>

                            <div class="form-group">
                                <textarea id="ContactMessageFooter" name="ContactMessageFooter" class="form-control" cols="30" rows="6" placeholder="您的訊息"></textarea>
                                <span id="ErrContactMessageFooter" style="color:#ff0000;font-size:large"></span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="OptInFooter" name="OptInFooter" checked><label for="OptIn"> <span style="font-size:smaller;padding-left:5px;vertical-align:middle">我同意接受博翹國際發送的新聞通訊和新聞訊息</span></label>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="發送信息" id="btnContactUsFooter" class="btn btn-primary">
                                <!--button type="submit" class="form-control submit px-3">Send A Message</!--button-->
                            </div>
                        </div>

                    }
                    <div id="SystemMsgFooter" style="color:red;">謝謝您的留言，我們會盡快派專人與您聯絡!</div>
                </div>
            </div>

        </div>

    </footer>
    <div id="ftco-loader" class="fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"></circle><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"></circle></svg></div>
    <script src="~/js/jquery.min.js"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.animateNumber.min.js"></script>
    <script src="/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/js/google-map.js"></script>
    <script src="/js/main.js"></script>
    <script>

        //set navigation base on user click
        $(document).ready(function () {
            $(function () {
                debugger;
                $("#SystemMsgFooter").hide();
                var current = location.pathname;
                console.log("current url:" + current);
                if (current != "/") {//if it is not the first page load, if it is home is already set to active by html
                    $('#ftco-nav .navbar-nav li a').each(function () {
                        //  console.log("loop thru href:" + $this.attr('href').toString());
                        var $this = $(this);
                        // if the current path is like this link, make it active
                        if ($this.attr('href').indexOf(current) !== -1) {

                            $this.parent().addClass('active');
                        } else {

                            $this.parent().removeClass('active');
                        }

                    });
                }
            })
        });
        function SubmitContactUsForm(form) {
            debugger;
            // console.log("contact name" + $('#ContactName').val());
            var ContactName = $('#ContactName').val();
            var ContactEmail = $('#ContactEmail').val();
            var ContactMessage = $('#ContactMessage').val();
            var OptIn;
            //  $.validator.unobtrusive.parse(form);
            if ($('#ContactName').val() == "") {

                // $('#ErrContactName').val("請填入你的名字");
                $('#ErrContactName').html("*請填入你的名字");
                return false;
            } else {
                $('#ErrContactName').html("");
            }
            if ($('#ContactEmail').val() == "") {

                // $('#ErrContactName').val("請填入你的電子郵件地址");
                $('#ErrContactEmail').html("*請填入你的電子郵件地址");
                return false;
            } else {
                $('#ErrContactEmail').html("");
            }
            if ($('#ContactMessage').val() == "") {

                // $('#ErrContactMessage').val("請填入你的信息");
                $('#ErrContactMessage').html("*請填入你的信息");
                return false;
            } else {
                $('#ErrContactMessage').html("");

            }
            // var getURL = window.location.href;
            //$("#CurrentURL").val(getURL);
            // document.getElementById('CurrentURL').value = window.location;

            console.log('currenturl:' + document.getElementById('CurrentURL').value)
            // if ($(form).valid()) {
            //debugger;

            if ($('#OptIn').is(":checked")) {
                OptIn = true;
            }
            else {

                OptIn = false;
            }
            var ContactUsModel = {

                ContactName: $('#ContactName').val(),
                ContactEmail: $('#ContactEmail').val(),
                ContactMessage: $('#ContactMessage').val(),
                CurrentURL: $(location).attr("href"),

                OptIn: OptIn

            }
            $.ajax({
                type: "POST",
                url: form.action,
                //data: $(form).serialize(),
                data: ContactUsModel,
                async: false,
                success: function (data) {
                    debugger;
                    if (data.result) {
                        // console.log("result: " + data.result)
                        // alert('success: result' + result.d)
                        window.location = "/Home/Index";
                        //$('#modalAppointment').modal('hide');
                        //dataTable.ajax.reload();

                    }
                    else {
                        // console.log("result: " + data.result)
                        // alert('failure: result' + result)
                        //error check switched to server side
                        //   $('#lblError').html('must at least 5 days prior to session date');
                        // dataTable.ajax.reload();
                        console.log("Error while process modify event form")
                    }
                }
            });
            //}
            return false;
        }
        function SubmitContactUsFormFooter(form) {
            debugger;
            // console.log("contact name" + $('#ContactName').val());
            var ContactName = $('#ContactNameFooter').val();
            var ContactEmail = $('#ContactEmailFooter').val();
            var ContactMessage = $('#ContactMessageFooter').val();
            var OptIn;
            //  $.validator.unobtrusive.parse(form);
            if ($('#ContactNameFooter').val() == "") {

                // $('#ErrContactName').val("請填入你的名字");
                $('#ErrContactNameFooter').html("*請填入你的名字");
                return false;
            } else {
                $('#ErrContactNameFooter').html("");
            }
            if ($('#ContactEmailFooter').val() == "") {

                // $('#ErrContactName').val("請填入你的電子郵件地址");
                $('#ErrContactEmailFooter').html("*請填入你的電子郵件地址");
                return false;
            } else {
                $('#ErrContactEmailFooter').html("");
            }
            if ($('#ContactMessageFooter').val() == "") {

                // $('#ErrContactMessage').val("請填入你的信息");
                $('#ErrContactMessageFooter').html("*請填入你的信息");
                return false;
            } else {
                $('#ErrContactMessageFooter').html("");

            }
            // var getURL = window.location.href;
            //$("#CurrentURL").val(getURL);
            // document.getElementById('CurrentURL').value = window.location;

           // console.log('currenturl:' + document.getElementById('CurrentURL').value)
            // if ($(form).valid()) {
            //debugger;

            if ($('#OptInFooter').is(":checked")) {
                OptIn = true;
            }
            else {

                OptIn = false;
            }
            var ContactUsModel = {

                ContactName: $('#ContactNameFooter').val(),
                ContactEmail: $('#ContactEmailFooter').val(),
                ContactMessage: $('#ContactMessageFooter').val(),
                CurrentURL: $(location).attr("href"),

                OptIn: OptIn

            }
            $.ajax({
                type: "POST",
                url: form.action,
                //data: $(form).serialize(),
                data: ContactUsModel,
                async: false,
                success: function (data) {
                    debugger;
                    if (data.result) {
                        // console.log("result: " + data.result)
                        // alert('success: result' + result.d)
                      // window.location = "/Home/Index";
                        // $('#modalAppointment').modal('hide');
                        //dataTable.ajax.reload();
                        //show the we got your message blurb AFTER using submitted the contactus message, callback
                       $("#ContactUsFormFooter").hide("slow", function () {
                           $("#SystemMsgFooter").show("slow");
                        })

                    }
                    else {
                        // console.log("result: " + data.result)
                        // alert('failure: result' + result)
                        //error check switched to server side
                        //   $('#lblError').html('must at least 5 days prior to session date');
                        // dataTable.ajax.reload();
                        console.log("Error while process modify event form")
                    }
                }
            });
            //}
            return false;
        }

    </script>
</body>
</html>
