
@{
    ViewBag.Title = "CanadaEducation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="hero-wrap hero-wrap-2" style="background-image: url('/img/CanadaEducation.jpg'); background-position: 50% -18.4px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5 fadeInUp ftco-animated">

                <h1 class="mb-0 bread">加拿大的教育體系</h1>
            </div>
        </div>
    </div>
</section>
<br/><br/>
<section class="ftco-section ftco-no-pt bg-light ftco-faqs">
    <div class="container">
        <div class="row">
            <!--div class="col-lg-6">
                <div class="img-faqs w-100">
                    <div class="img mb-4 mb-sm-0" style="background-image:url(images/about-2.jpg);">
                    </div>
                    <div class="img img-2 mb-4 mb-sm-0" style="background-image:url(images/about-1.jpg);">
                    </div>
                </div>
            </div-->
            <div class="col-md-12 pl-lg-5">
                <div class="heading-section mb-5 mt-5 mt-lg-0">
                   
                    <h2 class="mb-3">加拿大的教育體系</h2>
                    <p>
                        按照加拿大憲法，從幼稚園一直到大學前教育，教育體系主要由各省負責，即
                        是說不同省份的教育制度有相當大的差別，但是全國亦有統一的高標準。加拿
                        大的教育制度跟香港非常接近，中小學合共12年。因為各省自由決定教育模式
                        ，即使一般為6年小學及6年中學，亦會有卑詩省為7年小學及5年中學這樣的模
                        式。
                    </p>
                    <p>
                        而加拿大亦設有ESL(English as a Second Language) 課程，即英語作為第二語言
                        的課程。顧名思義，是為了母語並非使用英文的學生所開設。這類課程是學生
                        進入北美大學必修的語言課程。在加國公立學校里，這類課程是免費開放的，
                        其授課方式從學生的基本溝通到學術上，由淺入深的漸進。
                    </p>
                </div>
                <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header p-0" id="headingOne">
                            <h2 class="mb-0">
                                <button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                    <p class="mb-0">
                                        加拿大的中小學教育 (K-12)
                                    </p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-body py-3 px-0">
                                <p>
                                    加拿大的小學教育和中學教育經常是合在一起的，簡稱K-12中小學教育，即從
                                    幼兒園到12年級都在同一所學校。以安大略省（簡稱安省）為例，規定兒童從4
                                    歲開始進入幼兒園接受2年的學前教育，然後接受12年的義務教育。 安省將幼
                                    兒園分為兩個班，小班（JK）和大班（SK）。1-8年級為初等教育（Elementary
                                    School）或小學（Primary School）；高中（Secondary School, High School,
                                    Collegiate Institute）一般為四年制，即從9-12年級。但也有一些學校將6-8年級分
                                    出來，成為Middle School 或Junior High School。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingTwo" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseTwo" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                                    <p class="mb-0">加拿大公立中學</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <p>
                                    主要分為校區管埋(Regional School Board) 或教會管理(Religion School Board)，
                                    在每個校區裏會選出部份學校接收海外學生就讀相關的主流課程及提供ESL班
                                    協助非英語學生。因為每間學校收取的國際學生是有限制的，所以令國際學生
                                    能夠經常接觸本地學生，使他們能夠更快適應加拿大的學習模式，多些使用英
                                    語的機會。
                                    加拿大私立中學
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingThree" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseThree" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
                                    <p class="mb-0">加拿大私立中學</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <p>
                                    加拿大的私立中學亦分為寄宿中學(Boarding School)及國際中學(International
                                    School)。最主要分別是寄宿中學源自英國的寄宿中學，使學生們群體生活，能
                                    夠練習到協調能力，訓練領導才能，亦有更多時間去發展體育及藝等範疇。而
                                    國際中學主要是為高年級學生或英語程度較弱的學生而設立的，課程設計是希
                                    望短時間內滿足升學要求而設立，使學生能夠在1-2年內提昇能力，進入心儀的
                                    大學，部份國際中學的大學升學率更超過九成。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingFour" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseFour" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
                                    <p class="mb-0">加拿大大專院校制度</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <p>
                                    在加拿大沒有公開試，學生如果要繼續升讀大專，在中學階段所修的30個學分
                                    中，至少需要6個12年級U/M課程（為高等院校準備的課程）的學分，並獲得高
                                    中畢業證書。跟美國的高等教育模式非常接近，完成中學後，學生可以選擇直
                                    入大學，或到學院先修讀一些文憑/證書等課程，了解本身的升學或就業取向後
                                    才作出確切的升學或就業決定。而加拿大的學院能夠選擇的學科非常廣泛，由
                                    一般的文科、理科、以至機械維修及幼兒教育都有提供，部份課程更提供帶薪實
                                    習或在職培訓。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingFive" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseFive" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
                                    <p class="mb-0">大學制度</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseFive" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <p>
                                    對希望尋求知識或希望進入一流學府的學生來說，加拿大絶對是一個理想地方
                                    加拿大大學分了三大類型，分別為醫學/博士類大學、綜合類大學和基礎類大學
                                    。所謂「醫學/博士類大學」的規模都比較大，學校經費及設備也很雄厚。特點
                                    是都附有醫學院，除學士學位外，並可授博士碩士學位。具代表性的例子有麥
                                    吉爾大學、多倫多大學、英屬哥倫比亞大學和皇后大學等。
                                </p>
                                <p>
                                    綜合類（Comprehensive）大學在相比「醫學/博士類大學」的規模較小，可授予
                                    碩士和學士學位，甚至有的大學也可授博士學位。具代表性的例子有西蒙菲莎
                                    大學、卡爾頓大學和渥太華大學等。

                                </p>
                                <p>
                                    基礎類（Primarily undergraduate）大學的規模比以上兩類略小一點，以培養本
                                    科生為主，除可授學士學位之外，也有一些大學可授碩士學位，甚至有博士學
                                    位。基礎類大學的師資、獎學金、授課方式都是以本科生為主。 具代表性的例
                                    子安大略理工大學及湖首大學。

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingSix" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseSix" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
                                    <p class="mb-0">大學四大熱門學科</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseSix" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <p>
                                    1. 教育領域學科
                                    加拿大的高質量教育水平和文憑學位含金量是世界文明的，這也是海外留學生
                                    和移民人士樂忠於此的原因。移民人口裡華裔人口已佔加拿大總人口的3.5%，
                                    成為加拿大最大的少數族裔，目前加拿大已經把漢語做為其國家的第三種官方
                                    語言。並且在孩子初級教育以及中級教育階段，進行大力的普及教育。隨著這
                                    種局勢的發展，幼兒教育專業，教育學專業，教育治理專業等相關教育領域的
                                    專業已經成為留學學生的熱門選擇。
                                </p>
                                <p>
                                    2. 旅遊業
                                    加拿大旅游業十分發達。據世界旅游組織統計，加拿大在世界旅游組織收入最
                                    高國家中排名第九。

                                </p>
                                <p>
                                    3. 外貿、金融類學科
                                    加拿大是當今西方七大工業國家之一。制造業和高科技產業較發達，資源工業
                                    、初級制造業和農業亦是國民經濟的主要支柱。加拿大以貿易立國，對外資、
                                    外貿依靠很大，金融服務行業也是加拿大經濟的重要支柱之一。

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

