
@{
    ViewBag.Title = "CanadaIntro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/img/AboutCanada.jpg'); background-position: 50% -18.4px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5 fadeInUp ftco-animated">

                <h1 class="mb-0 bread">加拿大移民</h1>
            </div>
        </div>
    </div>
</section>
<div style="clear:both"></div><br/><br/>
<section class="ftco-section ftco-no-pt bg-light ftco-faqs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="img-faqs w-100">
                    <div class="img mb-4 mb-sm-0" style="background-image:url(/img/ontario.jpg);">
                    </div>
                    <div class="img img-2 mb-4 mb-sm-0" style="background-image:url(/img/bc.jpg);">
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-lg-5">
                <div class="heading-section mb-5 mt-5 mt-lg-0">

                    <h2 class="mb-3">加拿大移民</h2>
                    <p>
                        加拿大政府的目標是於未來3年，吸納超過100萬個新移民。而我司主要為客戶
                        安排多倫多及溫哥華移民。
                    </p>

                    <div class="TextHeading" ">安大略省(Ontario, 安省)簡介</div>
                    <p>
                        安大略省位於加拿大的東部，是世界上最多元化的地方之一，亦是首都渥太華
                        （Ottawa）及多倫多（Toronto）所在的省份。安大略省是加拿大人口最多的省
                        份，按面積來算，亦是為加拿大第二省份。
                        安大略省的著名城市為多倫多，是加拿大最大城市及金融中心，人口約600萬。
                        此外，安大略省的教育在加拿大極具代表性，是因為安大略省是加拿大著名高
                        等學府的集中地，並擁有多所常青藤大學，包括多倫多大學(University of
                        Toronto)、麥克馬斯特大學(McMaster University)及滑鐵盧大學(University of
                        Waterloo)及西安大略大學(Western University)，因此很多家庭亦希望於安大略省
                        定居，為孩子的教育作鋪墊。
                    </p>
                    <div class="TextHeading">英屬哥倫比亞省(British Columbia, 卑詩省) 簡介</div>
                    <p>
                        卑詩省位於加拿大西部，屬於加拿大四大省之一。卑詩省的文化多樣性及聞名
                        於世的安全性，再加上氣候宜人，使其成為移民的熱門選擇，一直吸引不少新
                        移民在此定居。卑詩省人口約500萬，當中有一半人口是居住在溫哥華。溫哥華
                        亦是當中最大和最著名的城市，吸引了很多華人到當地生活。當地亦擁有不少
                        頂尖大學，包括英屬哥倫比亞大學 (University of British Columbia, UBC)、維多
                        利亞大學 (Victoria University)及西蒙菲莎大學 (Simon Fraser University)。因此除
                        了多倫多外，溫哥華亦是加拿大的升學的熱門勝地。
                    </p>
                </div>
                <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header p-0" id="headingOne">
                            <h2 class="mb-0">
                                <button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                    <p class="mb-0">
                                        加拿大聯邦移民項目
                                    </p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-body py-3 px-0">
                                <p>
                                    此新聯邦移民計劃屬於全新家庭兒童護理項目( Home Child Care Provider Pilot,
                                    HCCPP)及家庭護理項目( Home Support Worker Pilot, HSWP)，於2019年起為期5
                                    年，符合資格者會先獲取3年特定工作簽證，於3年內工作滿24個月後即可直接
                                    向加拿大聯邦政府申請永久居民身份。 永久居民於5年內在加拿大生活時間滿3
                                    年即可申請入籍，成為加拿大正式公民。
                                    家庭兒童護理項目
                                    為顧主提供持續或短期照顧兒童，協助顧主照顧18歲以下的子女，並協助處理
                                    家務，申請者可受顧於私人家庭或自僱兒童托管。
                                    家庭護理項目
                                    主要為顧主照顧家中老年人、殘疾及復康家庭成員，在私人家庭及其他非機構
                                    住宅環境中執行家政及其他家庭管理職責 (不包括Housekeeping)，申請者可受
                                    顧於私人家庭或自僱。
                                </P>
                                   <p> 項目優勢</p>
                                   <ul>

                                       <li>無限年齡</li>
                                       <li>英語能力要求低</li>
                                       <li>可取聯邦提名，於加拿大任何省份工作均可</li>
                                       <li>可自由更換顧主</li>
                                       <li>家庭成員可同行並享有加拿大福利待遇</li>
                                       <li>工作主要會安排在多倫多或溫哥華</li>
                                    </ul>
                                   <p>申請條件</p>
                                <ul>
                                    <li>任何年齡</li>
                                    <li>具有基本護理或幼師經驗及完成有關護理或幼師課程</li>
                                    <li>學歷須最少達高中或以上程度</li>
                                    <li>英語能力最少達加拿大語言標準(Canadian Language Benchmarks, CLB) 5分水平</li>
                                    <li>成功通過加拿大移民健康檢查及無犯罪紀錄</li>
                                   
                                   </ul>
                                    

                                 
                               
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingTwo" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseTwo" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                                    <p class="mb-0">僱主擔保技術移民</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <p>
                                    加拿大技術移民的 3個計分系統分別為：加拿大國家職業分類系統(National
                                    Occupational Classification, NOC)、加拿大語言標準(Canadian Language
                                    Benchmarks, CLB)及綜合排名系統(Comprehensive Ranking System, CRS)。
                                </p>
                                <p>
                                    1. 加拿大國家職業分類(National Occupational Classification, NOC)
                                    加拿大移民職業類別分為五類，即O類、A類、B類、C類及D類。其中O類、A
                                    類、B類是加拿大技術移民的移民職業，C類及D類職業不能申請加拿大技術移
                                    民，但可以申請部份省提名項目。
                                </p>
                                <p>
                                    2. 加拿大語言標準(Canadian Language Benchmarks, CLB)<br/>
                                    <img src="/img/clb.jpg" width="553" height="346" />
                                    加拿大語言標準 CLB 用以評估申請人的英語能力。如你有考過英語的
                                    IELTS, CELPIP, 或法語的 TEF Canada、TCF Canada, 亦可用考試成績對照
                                    CLB 分數。
                                </p>
                                <p>
                                    3. 綜合排名系統(Comprehensive Ranking System, CRS)<br />
                                    <img src="/img/crs.jpg" width="459" height="315" /><br />
                                    基本申請條件
                                    僱主擔保技術移民申請人獲得一份符合職業類別(NOC B)的全職工作，獲加州
                                    僱主發出最少為1年的取錄通知，語言能力要達到CLB 5，於過去5年最少有2年
                                    工作經驗。
                                </p>
                            </div>
                        </div>
                    </div>
               
               
                </div>
            </div>
        </div>
    </div>
</section>