
@{
    ViewBag.Title = "Canada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="hero-wrap">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image:url(/img/bg_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-8 ftco-animate">
                        <div class="text w-100 text-center">
                            <h1 style="color:#1ba12d">移民加拿大</h1>
                            <h1 class="mb-4">廣闊的生活環境</h1>
                            <h1 class="mb-4">多元的社會文化及語言</h1>
                            <p><a href="#" class="btn btn-white">想知道更多?</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(/img/bg_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-8 ftco-animate">
                        <div class="text w-100 text-center">
                            <h1 style="color:#1ba12d">移民加拿大</h1>
                            <h1 class="mb-4">穩定的政治制度</h1>
                            <h1 class="mb-4">工作與生活的平衡</h1>
                            <p><a href="#" class="btn btn-white">想知道更多?</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(/img/bg_3.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-8 ftco-animate">
                        <div class="text w-100 text-center">
                            <h1 style="color:#1ba12d">移民加拿大</h1>
                            <h1 class="mb-4">多元種族的包容</h1>
                            <h1 class="mb-4">呼吸自由的空氣</h1>
                            <p><a href="#" class="btn btn-white">想知道更多?</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3 ">
            <div class="col-md-7 heading-section text-center ftco-animate ">
               
                <span class="TextHeading">為何選擇加拿大</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="block-7">
                    <div class="text-center">
                        <span class="TextHeading">
                            優質教育
                        </span>


                        <p>
                            加拿大擁有世界上最完善的教育體系，擁有世界一流的大學，中學，小學教育
                            ，學習條件也是世界一流的。加拿大推行十二年免費的義務教育，公民或永久
                            居民及其子女從小學到高中都可享有免費教育。而政府對高等教育也有很高的
                            津貼。
                        </p>
                        <p></p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br/>
                        <a href="#" class="btn btn-primary d-block px-2 py-3">想知道更多</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="block-7">
                    <div class="text-center">
                        <span class="TextHeading">
                            安居樂業
                        </span>


                        <p>
                            加拿大的樓價貴嗎? 相信很多人都會擔心移民後的置業難度。不同城市有著不
                            同的樓價，潛在買家要切實考慮自己可動用的資金有多少，並要向不同類型的
                            物業發展，例如與其他人共租一間屋(cohabitation)，或者在大城市外住公寓單
                            位等，買家要懂得在現時樓市下，為自己作最好的選擇。舉個例子，在溫哥華
                            ，房屋基準價大約為HKD$6,600,000至HKD$8,500,000；在蒙特利爾，房屋基準
                            價大約為HKD $2,000,000至2,500,000，可見豐儉由人。而且，在加拿大以1/3的
                            價錢買到在香港一樣面積的單位，性價比極高。在貸款方面，加拿大的貸款利
                            率比其它歐美國家低，約2.5厘，風險較小。
                        </p>
                       
                        <a href="#" class="btn btn-primary d-block px-2 py-3">想知道更多</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="block-7">
                    <div class="text-center">
                        <span class="TextHeading">
                            擁抱多元文化
                        </span>


                        <p>
                            加拿大總理杜魯多曾表示:「多元是我們的力量」。加拿大致力推廣多元文化，
                            吸納各方面的人才。以移民為落腳點的多倫多為例，國際性人口極高，有49%
                            的人口是出生於加拿大外的國家，故多倫多成為世上種族最多樣化的城市之一
                            。此外，多倫多有各大的多元社區，如唐人街、希臘城、小義大利、小牙買加
                            、韓國城、小葡萄牙和小印度。由此可見，當地的多元文化主義是非常廣泛和
                            根深蒂固的，極少歧視情況和「排外主義」。
                        </p>
                        <p></p><br /><br /><br /><br /><br/><br/>
                        <a href="#" class="btn btn-primary d-block px-2 py-3">想知道更多</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="block-7">
                    <div class="text-center">
                        <span class="TextHeading">
                            全民醫療保障
                        </span>


                        <p>
                            加拿大實行全民醫療保險制度。加拿大公民和合法的長期居民可以通過
                            Medicare國家醫療保險獲得全面的醫療保障，從而獲得醫療卡。加拿大是高稅
                            收高福利國家，因為你是依法納稅的居民，政府保障你有病能治的基本權利。
                            加拿大政府的醫療保險計劃包括各項醫療服務、診金及住院費，但不包括藥費
                            ，患者需自行承擔。加拿大居民申請醫療卡，不同省份所需費用有些微差異。
                            大部分省份按家庭為單位繳納費用，每月繳交100加元，約600港元。若家庭收
                            入未達到省份的最低收入水平，這部分費用是免費的。
                        </p>
                        <p></p><br /><br /><br />
                        <a href="#" class="btn btn-primary d-block px-2 py-3">想知道更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>