
@{
    ViewBag.Title = "Bag_1010";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<div class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>1010 THE ISU 包裝</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-slider">
                    <div class="product-slider">
                        <div id="slider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Products/1010_01.png" />
                                </li>

                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                        <div id="carousel" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Thumbnails/1010_01.png" />
                                </li>
                                <li>
                                    <img src="~/images/Thumbnails/1010_02.png" />
                                </li>
                                <li>
                                    <img src="~/images/Thumbnails/1010_03.png" />
                                </li>
                                <li>
                                    <img src="~/images/Thumbnails/1010_04.png" />
                                </li>
                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <div class="pDetail">
                        <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1010 THE ISU 包裝</font></font></h4>
                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">建議零售價¥15,000（不含稅）1C / 4包括</font></font></h6>
                        <div class="details">
                            <p class="space5b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">產品規格：伸縮式座墊，防雨罩，帶光反射帶的前袋/肩帶，側袋，齒輪架，卡夾，腰帶，胸帶，壓縮帶</font></font></p>
                            <p class="space5b">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">●機身尺寸：370×150×500mm●機身重量：1200g●</font></font><br><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        袋裝
                                    </font><font style="vertical-align: inherit;">容量：26L </font><font style="vertical-align: inherit;">●材料：聚酯600D，1680D，200D，PVC等。墊子/聚乙烯PE芯棒/玻璃鋼</font>
                                </font><br><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        ●原產國：越南
                                    </font>
                                </font>
                            </p>
                            <p class="space5b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">JAN：4511793007542</font></font></p>
                            <p class="space5b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*日本國內外觀設計註冊號1596168</font></font></p>
                        </div>
                    </div>
                </div><!--end of right-content-->
            </div><!--end of col-md-6-->
        </div>
    </div>
</div>
