
@{
    ViewBag.Title = "Bag_1010";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<div class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>BSB-105 WH防災單肩包</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-slider">
                    <div class="product-slider">
                        <div id="slider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Products/105_01.png" />
                                </li>

                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                        <div id="carousel" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Thumbnails/105_01.png" />
                                </li>
                                <li>
                                    <img src="~/images/Thumbnails/105_02.png" />
                                </li>
                                <li>
                                    <img src="~/images/Thumbnails/105_03.png" />
                                </li>
                                <li>
                                    <img src="~/images/Thumbnails/105_04.png" />
                                </li>
                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <div class="pDetail">
                        <p class="h2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">BSB-105 WH防災單肩包</font></font></p>
                        <p class="price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">建議零售價¥3,600（不含稅）1C / 100含稅</font></font></p>
                        <div class="details">
                            <p class="space5b">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">●機身尺寸：360×240×145mm●重量：140g●袋容量：10L●材質：聚酯纖維</font></font><br><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        ●原產國：中國或越南
                                    </font>
                                </font>
                            </p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">JAN：4511793007689</font></font></p>
                        </div>
                    </div>
                </div><!--end of right-content-->
            </div><!--end of col-md-6-->
        </div>
    </div>
</div>

