
@{
    ViewBag.Title = "Diffuser_6700";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<div class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>照明香薰</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-slider">
                    <div class="product-slider">
                        <div id="slider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Products/6700_01.jpg" />
                                </li>

                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <div class="pDetail">
                        <p class="h2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6700照明香氣</font></font></p>
                        <p class="price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">建議零售價¥7,000（不含稅）1C / 12件</font></font></p>
                        <div class="details">
                            <p class="space5b"><span class="fOrange fBold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">規範</font></font></span></p>
                            <p class="space5b">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">・全彩色照明</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">（3級調光功能）照明變更，照明停止，照明關閉</font></font><br><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        ・加濕功能：2級切換，最高25 ml / h ・主體水箱容量：80 ml ・水位檢測類型自動關閉
                                    </font>
                                </font>
                            </p>
                            <p class="space5b">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">電源：AC100V </font></font><br><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        ●顏色：白色●機身尺寸：103×103×249mm
                                    </font>
                                </font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">●箱體尺寸：111×111× </font><font style="vertical-align: inherit;">315mm　</font><font style="vertical-align: inherit;">●箱體</font></font><br><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        重量：260g（僅機身）/ 550g（包括箱體等）●材質：ABS樹脂/ PP●包裝形式：化妝品盒
                                    </font>
                                </font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">配件/ 1熏衣草精油/量杯/ AC / DC適配器</font></font>
                            </p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">JAN：4511793006347 </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*…最大加濕能力符合日本電氣製造商協會的JEM1426。</font></font></p>
                        </div>
                       
                    </div>
                </div><!--end of right-content-->
            </div><!--end of col-md-6-->
        </div>
    </div>
</div>

