
@{
    ViewBag.Title = "Diffuser_7010";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<div class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>香霧容器 ICHIRIN Kabi</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-slider">
                    <div class="product-slider">
                        <div id="slider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Products/7010_01.jpg" />
                                </li>

                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <div class="pDetail">
                        <p class="h2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">7010 香霧容器 ICHIRIN Kabi</font></font></p>
                        <p class="price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">建議零售價¥6,648（不含稅）1C / 6包括</font></font></p>
                        <div class="details">
                            <p class="space5b"><span class="fOrange fBold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">規範</font></font></span></p>
                            <p class="space5b">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">・產生霧量：30ml / h（連續運行時），15ml / h（間歇運行時）・水箱容量：充滿時約100ml</font></font><br><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        ・定時器功能：3小時/ 6小時切換式・水檢測：水位傳感器式
                                    </font>
                                </font>
                            </p>
                            <p class="space5b">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">電源：AC100V </font></font><br><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        ●顏色：紅色，櫻花，柿子，黑色，純白色●機身尺寸：150×150×355mm●盒子尺寸：175×180×385mm
                                    </font>
                                </font><br><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        ●機身重量：350g（僅限主機）/ 1,100g（包括盒子等） ）●材質：主體底部/ ABS樹脂/上部清管器/ PETG /水箱/ PP●包裝形式：化妝品盒
                                    </font>
                                </font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">配件/量杯/ AC / DC適配器</font></font>
                            </p>
                            <p>
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">JAN：紅色4511793006668 /櫻花4511793006675 /柿子4511793006682 /噴氣</font></font><br><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        黑4511793006651 /純白色4511793006644 *日本國內設計註冊號1366287
                                    </font>
                                </font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*…最大加濕量符合日本電氣工業聯合會的JEM1426。</font></font>
                            </p>
                        </div>
                      
                    </div>
                </div><!--end of right-content-->
            </div><!--end of col-md-6-->
        </div>
    </div>
</div>

