
@{
    ViewBag.Title = "DPS_4070";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}


<div class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Initial Response Kit DX</h1>
                    <p>It is a set for initial response in the event of a disaster. A shoulder bag has been adopted to make it easy to move even during evacuation activities, and disaster prevention personnel have selected necessary items such as radio lights that are useful for securing lights and obtaining information, and smoke shutouts that are necessary when evacuating a building fire. You can usually store it compactly in a box, and if you want to take it out, put it in a bag and take it out immediately.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-slider">
                    <div class="product-slider">
                        <div id="slider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Products/4070_01.jpg" />
                                </li>

                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                        <div id="carousel" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Products/4070_02.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/4070_03.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/4070_04.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/4070_05.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/4070_06.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/4070_07.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/4070_08.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/4070_09.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/4070_10.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/4070_11.jpg" />
                                </li>
                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <div class="pDetail">
                        <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4070 Initial Response Kit DX</font></font></h4>
                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Suggested retail price ¥ 10,000 (excluding tax) 1C / 12</font></font></h6>
                        <div class="details">
                            <p class="space5b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Set contents: Disaster prevention shoulder bag x 1, LED palm radio light (battery sold separately), emergency portable toilet 1 time, water supply bag 3L, daily life 4-piece set (neck pillow, eye mask, earpick, slippers), tissue that can be flushed with water x 2, Rain coat (L), Individual packaging mask x 2, Smoke shutout, Quiet type aluminum sheet, Aid crew 9 points (Scratch tape x 3, Cotton swab x 10, Cotton puff x 3, One-touch bandage, Tweezers, Earpick, Etiquette Scissors, claws, hair remover and tweezers), disaster prevention manual for large earthquakes</font></font></p>
                            <p class="space5b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">● Box dimensions: 210 x 297 x 130 mm ● Set weight: 970 g (including boxes, etc.)</font></font></p>
                            <p class="space5b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">JAN: 4511793007801</font></font></p>
                        </div>
                    </div>
                </div><!--end of right-content-->
            </div><!--end of col-md-6-->
        </div>
    </div>
</div>

