
@{
    ViewBag.Title = "DPS_3540";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}


<div class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>活著肩膀31</h1>
                    <p>31件防災套裝，使用的肩包可以在家里或在撤離時輕鬆移動。我和防災官員一起考慮了一套豪華的設備，其中包含一天的食物和各種床上用品，這樣我不僅可以在家中和庇護所中，而且可以在辦公室中維持日常生活。</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-slider">
                    <div class="product-slider">
                        <div id="slider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Products/3540_01.jpg" />
                                </li>

                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                        <div id="carousel" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Products/3540_02.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/3540_03.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/3540_04.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/3540_05.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/3540_06.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/3540_07.jpg" />
                                </li>
                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <div class="pDetail">
                        <p class="h2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3540活著肩膀31</font></font></p>
                        <p class="price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">建議零售價¥20,000（不含稅）1C / 4包括</font></font></p>
                        <div class="details">
                            <p class="space5b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">套裝內容：防災挎包，魔米五眼米，魔米裙帶菜米，Bisco儲物罐，LED棕櫚無線電燈，鹼性AAA鹼性乾電池3瓶，安信儲水500毫升x 2，救助人員9點（刮擦膠帶x 3，棉棒） ×10，棉粉撲×3，一鍵式繃帶，指甲修剪器，耳刷，禮節剪刀，指甲剪，脫毛器和鑷子），Mylet mini 3張，緊急餐具摺紙，無聲鋁板，2個獨立包裝口罩，軍用手， PUALA濕毛巾，可沖洗紙巾x 2，身份證口哨，緊急壓縮毯，大地震災難預防手冊，4件式救生套（脖子枕頭，眼罩，耳塞，拖鞋），便攜式充電器</font></font></p>
                            <p class="space5b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">●包裝盒尺寸：285×315×150mm●設定重量：3450g（包括包裝盒等）</font></font></p>
                            <p class="space5b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">JAN：4511793007733</font></font></p>
                        </div>
                    </div>
                </div><!--end of right-content-->
            </div><!--end of col-md-6-->
        </div>
    </div>
</div>

