
@{
    ViewBag.Title = "DPS_3550";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}


<div class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>活著迷你護肩</h1>
                    <p>這款迷你單肩便於女性攜帶，並配有疏散所需的物品。</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-slider">
                    <div class="product-slider">
                        <div id="slider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Products/3550_01.jpg" />
                                </li>

                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                        <div id="carousel" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Products/3550_02.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/3550_03.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/3550_04.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/3550_05.jpg" />
                                </li>
                            
                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <div class="pDetail">
                        <p class="h2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3550活著迷你護肩</font></font></p>
                        <p class="price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">建議零售價¥5,000（不含稅）1C / 24件</font></font></p>
                        <div class="details">
                            <p class="space5b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">套裝內容：防災迷你肩背包，供水袋3L，靜音型鋁板，雨衣（L），獨立包裝的口罩x 2，緊急便攜廁所1次，軍用手，可沖洗的組織x 2，大地震災難預防手冊</font></font></p>
                            <p class="space5b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">●包裝盒尺寸：305 x 135 x 105毫米●設定重量：560 g（包括包裝盒等）</font></font></p>
                            <p class="space5b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">JAN：4511793007900</font></font></p>
                        </div>
                    </div>
</div>
                </div><!--end of right-content-->
            </div><!--end of col-md-6-->
        </div>
    </div>
</div>
