
@{
    ViewBag.Title = "DPS_3100";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}


<div class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>THE ISU PACKER防災套裝</h1>
                    <p>防災套裝使用了全新的背包形狀（設計註冊），可以用作座椅。通過展開座椅表面，即使在硬地板或地面上也可以舒適地坐著。防災幹事還考慮了這套物品的內容，其中有27件生活在避難所中是必需的。</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-slider">
                    <div class="product-slider">
                        <div id="slider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Products/3100_01.jpg" />
                                </li>

                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                        <div id="carousel" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Products/3100_02.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/3100_03.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/3100_04.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/3100_05.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/3100_06.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/Products/3100_07.jpg" />
                                </li>
                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <div class="pDetail">
                        <p class="h2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3100 ISU PACKER防災套裝</font></font></p>
                        <p class="price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">建議零售價¥20,000（不含稅）1C / 4包括</font></font></p>
                        <div class="details">
                            <p class="space5b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">套裝內容：ISU PACKER，LED便攜式收音機，3個長期儲存鹼性AAA電池，2個獨立包裝的口罩，Bisco儲存罐，Anshin儲存水500毫升x 2，便攜式迷你馬桶3次，移動式馬桶口袋，緊急餐具摺紙，靜音型鋁板，用於防災的濕紙巾，用於大地震的防災手冊，軍隊手，供水袋2.5L，援助人員9分（刮擦帶x 3，棉籤x 10，棉撲x 3，一鍵式繃帶，剪爪，耳刷，禮儀剪刀，指甲屑，脫毛劑和鑷子），4件式套裝（脖子枕頭，眼罩，耳塞，拖鞋）</font></font></p>
                            <p class="space5b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">●箱子尺寸：400×540×140mm●設定重量：3700g（包括箱子等）</font></font></p>
                            <p class="space5b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">JAN：4511793007597</font></font></p>
                        </div>
                    </div>
                </div><!--end of right-content-->
            </div><!--end of col-md-6-->
        </div>
    </div>
</div>

