
@{
    ViewBag.Title = "DPS_3570";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}


<div class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Power Outage Countermeasure Kit</h1>
                    <p>A power outage countermeasure kit that includes the lights, radio, lantern, and mobile phone charging required in the event of a power outage.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-slider">
                    <div class="product-slider">
                        <div id="slider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Products/3570_01.png" />
                                </li>

                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                        <div id="carousel" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Products/3570_02.png" />
                                </li>
                                <li>
                                    <img src="~/images/Products/3570_03.png" />
                                </li>
                                <li>
                                    <img src="~/images/Products/3570_04.png" />
                                </li>
                                <li>
                                    <img src="~/images/Products/3570_06.png" />
                                </li>
                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <div class="pDetail">
                        <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3570 Power Outage Countermeasure Kit</font></font></h4>
                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Suggested retail price ¥ 10,000 (excluding tax) 1C / 12</font></font></h6>
                        <div class="details">
                            <p class="space5b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Set contents: 5599 LED portable radio, RL-250 slim lantern, 6125C portable charger, 5870 3in1 lightning cable, alkaline AA batteries x 2, alkaline AAA batteries x 6</font></font></p>
                            <p class="space5b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">● Box dimensions: 230 x 175 x 75 mm ● Set weight: 650 g (including boxes, etc.)</font></font></p>
                            <p class="space5b"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">JAN: 4511793007924</font></font></p>
                        </div>
                    </div>
                </div><!--end of right-content-->
            </div><!--end of col-md-6-->
        </div>
    </div>
</div>

