
@{
    ViewBag.Title = "MobileDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    .CategoryImage {
        width: 308px;
        height: 233px;
    }
</style>
<div class="featured-page">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>手機外圍設備</h1>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div id="filters" class="button-group">
                    <button class="btn btn-primary" data-filter="*">所有產品</button>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="divPage1">
    <div class="featured container no-gutter">

        <div class="row posts isotope" style="position: relative; overflow: hidden; height: 1097.75px;">
            <div id="1" class="item new col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);">
                <a href="/Product/Mobile_5870">
                    <div class="featured-item">
                        <img src="~/images/Products/5870_01.jpg" class="CategoryImage" alt="">
                        <br /><br /><h4>3in1 Lightning Cable</h4><h6>建議零售價 ¥ 2,500</h6>

                    </div>
                </a>
            </div>
            <div id="2" class="item high col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(380px, 0px);">
                <a href="/Product/Mobile_6125">
                    <div class="featured-item">
                        <img src="~/images/Products/6125_01.jpg" alt="" class="CategoryImage">
                        <br /><br /><h4>Portable Charger</h4><h6>建議零售價 ¥ 2,300</h6>

                    </div>
                </a>
            </div>

        </div>

    </div>

</div>


