
@{
    ViewBag.Title = "OutdoorLanternDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}
<style>

    .CategoryImage {
        width: 308px;
        height: 233px;
    }
</style>
<div class="featured-page">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>戶外燈籠</h1>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div id="filters" class="button-group">
                    <button class="btn btn-primary" data-filter="*">所有產品</button>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="divPage1">
    <div class="featured container no-gutter">

        <div class="row posts isotope" style="position: relative; overflow: hidden; height: 1097.75px;">
            <div id="1" class="item new col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);">
                <a href="/Product/OutdoorLantern_6350">
                    <div class="featured-item">
                        <img src="~/images/Products/6350_01.jpg" class="CategoryImage" alt="">
                        <br /><br /><h4>Stretch Portable Lantern</h4><h6>Suggested Retail Price ¥ 4,000</h6>

                    </div>
                </a>
            </div>
            <div id="2" class="item high col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(380px, 0px);">
                <a href="/Product/OutdoorLantern_6255">
                    <div class="featured-item">
                        <img src="~/images/Products/6255_01.jpg" alt="" class="CategoryImage">
                        <br /><br /><h4>Remote drip-proof lantern</h4><h6>Suggested Retail Price ¥ 3,000</h6>

                    </div>
                </a>
            </div>
            <div id="3" class="item low col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(760px, 0px);">
                <a href="/Product/OutdoorLantern_6221">
                    <div class="featured-item">
                        <img src="~/images/Products/6221_01.jpg" alt="" class="CategoryImage">
                        <br /><br /><h4>Drip-proof lantern</h4><h6>Suggested Retail Price ¥ 2,000</h6>

                    </div>
                </a>
            </div>
            <div id="4" class="item low col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 366px);">
                <a href="/Product/OutdoorLantern_6250">
                    <div class="featured-item">
                        <img src="~/images/Products/6250_01.jpg" alt="" class="CategoryImage">
                       
                        <br /><br /><h4>Remote LED Lantern 12</h4><h6>Suggested Retail Price ¥ 4,500</h6>

                    </div>
                </a>
            </div>
           


        </div>

    </div>

</div>


