
@{
    ViewBag.Title = "OutdoorLantern_6250";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<div class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Remote LED Lantern 12</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-slider">
                    <div class="product-slider">
                        <div id="slider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Products/6250_01.jpg" />
                                </li>

                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                        <div id="carousel" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Products/6250_02.jpg" />
                                </li>

                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <div class="pDetail">
                        <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6250 Remote LED Lantern 12</font></font></h4>
                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Suggested retail price ¥4,500 (excluding tax) 1C/24 included</font></font></h6>
                        <div class="details">
                            <p class="space5b" _msthash="597493" _msttexthash="141161462">Power supply used: 4 AA batteries (sold separately)<br _istranslated="1"> ● Color: Blue ● Body dimensions: 110×110×130 mm ● Box dimensions: 120×120×14 2mm<br _istranslated="1"> - Body weight: 210g (body only) / 300g (including box) ● Material: ABS resin, PP, PS ● Packaging form: cosmetic <br _istranslated="1"> box ● Accessories: Remote control (2 AAA batteries / sold separately)</p>
                            <p _msthash="597935" _msttexthash="8661575">JAN：4511793006149</p>
                        </div>
                    </div>
                </div><!--end of right-content-->
            </div><!--end of col-md-6-->
        </div>
    </div>
</div>

