
@{
    ViewBag.Title = "RadioLightDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .CategoryImage {
        width: 308px;
        height: 233px;
    }
</style>
<div class="featured-page">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>無線電燈</h1>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div id="filters" class="button-group">
                    <button class="btn btn-primary" data-filter="*">所有產品</button>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="divPage1">
    <div class="featured container no-gutter">
        <div><h3 class="text-success">Plug-In Type</h3></div>
        <div class="row posts isotope" style="position: relative; overflow: hidden; height: 360px;">

            <div id="1" class="item new col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);">
                <a href="/Product/RadioLight_5605C">
                    <div class="featured-item">
                        <img src="~/images/Products/5605C_01.jpg" class="CategoryImage" alt="">
                        <br /><br /><h4>Multi Power Station 2</h4><h6>建議零售價 ¥ 9,000</h6>

                    </div>
                </a>
            </div>
            <div id="2" class="item high col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(380px, 0px);">
                <a href="/Product/RadioLight_6991C">
                    <div class="featured-item">
                        <img src="~/images/Products/6991C_01.jpg" alt="" class="CategoryImage">
                        <br /><br /><h4>Multi-Portable Charger</h4><h6>建議零售價 ¥ 7,000</h6>

                    </div>
                </a>
            </div>


            <div id="3" class="item low col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(760px, 0px);">
                <a href="#">
                    <div class="featured-item" style="height:360px;">
                        &nbsp;


                    </div>
                </a>
            </div>
        </div>
        <div><h3 class="text-success">Multi-Function Type</h3></div>
        <div class="row posts isotope" style="position: relative; overflow: hidden; height: 360px;">

            <div id="4" class="item low col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 366px);">
                <a href="/Product/RadioLight_6000C">
                    <div class="featured-item">
                        <img src="~/images/Products/6000C_01.jpg" alt="" class="CategoryImage">
                        <br /><br /><h4>Sterling Turbo</h4><h6>建議零售價 ¥ 8,000</h6>

                    </div>
                </a>
            </div>
            <div id="5" class="item new high col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(380px, 366px);">
                <a href="/Product/RadioLight_5833C">
                    <div class="featured-item">
                        <img src="~/images/Products/5833C_01.jpg" alt="" class="CategoryImage">
                        <br /><br /><h4>Dynamo Swing Light Radio</h4><h6>建議零售價 ¥ 5,000</h6>

                    </div>
                </a>
            </div>
            <div id="6" class="item new col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(760px, 366px);">
                <a href="/Product/RadioLight_5963C">
                    <div class="featured-item">
                        <img src="~/images/Products/5963C_01.jpg" alt="" class="CategoryImage">
                        <br /><br /><h4>Mini Dynamo Radio Light</h4><h6>建議零售價 ¥ 3,800</h6>

                    </div>
                </a>
            </div>
        </div>
        <div><h3 class="text-success">Outdoor/Drip-Proof Type</h3></div>
        <div class="row posts isotope" style="position: relative; overflow: hidden; height: 1097.75px;">

            <div id="7" class="item new high col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 732px);">
                <a href="/Product/RadioLight_5818">
                    <div class="featured-item">
                        <img src="~/images/Products/5818_01.jpg" alt="" class="CategoryImage">
                        <br /><br /><h4>Dynamo Drip-Proof Torch Radio "D"</h4><h6>建議零售價 ¥ 5,000</h6>

                    </div>
                </a>
            </div>
            <div id="8" class="item low new col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(380px, 732px);">
                <a href="#">
                    <div class="featured-item" style="height:360px;">
                        &nbsp;


                    </div>
                </a>
            </div>



        </div>
        <div><h3 class="text-success">Handy Type</h3></div>
        <div class="row posts isotope" style="position: relative; overflow: hidden; height: 1097.75px;">

            <div id="7" class="item new high col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 732px);">
                <a href="/Product/RadioLight_5599">
                    <div class="featured-item">
                        <img src="~/images/Products/5599_01.jpg" alt="" class="CategoryImage">
                        <br /><br /><h4>LED Portable Radio</h4><h6>建議零售價 ¥ 2,200</h6>

                    </div>
                </a>
            </div>
            <div id="8" class="item low new col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(380px, 732px);">
                <a href="/Product/RadioLight_4505">
                    <div class="featured-item">
                        <img src="~/images/Products/4505_01.jpg" alt="" class="CategoryImage">
                        <br /><br /><h4>LED Palm Radio Light</h4><h6>建議零售價 ¥ 2,000</h6>

                    </div>
                </a>
            </div>



        </div>

    </div>

</div>


