
@{
    ViewBag.Title = "RadioLight_4505";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}


<div class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>LED palm radio light</h1>

                </div>
            </div>
            <div class="col-md-6">
                <div class="product-slider">
                    <div class="product-slider">
                        <div id="slider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Products/4505_01.jpg" />
                                </li>

                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                        <div id="carousel" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Products/4505_02.jpg" /><h6>LED light</h6>
                                </li>
                              
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <div class="pDetail">
                        <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4505 LED palm radio light</font></font></h4>
                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Suggested retail price ¥ 2,000 (excluding tax) 1C / 50</font></font></h6>
                        <div class="details">
                            <p class="space5b">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Power supply: 3 AAA batteries (sold separately) </font></font><br><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        ● Color: Silver ● Body dimensions: 130 x 45 x 47 mm ● Box dimensions: 145 x 55 x 58 mm
                                    </font>
                                </font><br><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        ● Body weight: 110 g (main unit only) / 140 g (including box, etc.) ● Material: ABS resin ● Packaging form: Cosmetic box
                                    </font>
                                </font>
                            </p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">JAN: 451179305098</font></font></p>
                        </div>
                    </div>
                </div><!--end of right-content-->
            </div><!--end of col-md-6-->
        </div>
    </div>
</div>

