
@{
    ViewBag.Title = "SolarRadio_6930";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}


<div class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>AM / FM Stereo Pocket Radio</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-slider">
                    <div class="product-slider">
                        <div id="slider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Products/6930_01.jpg" />
                                </li>

                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <div class="pDetail">
                        <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6930 AM / FM Stereo Pocket Radio</font></font></h4>
                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Suggested retail price ¥ 2,500 (excluding tax) 1C / 30 pieces</font></font></h6>
                        <div class="details">
                            <p class="space5b">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Power supply: 2 AAA batteries (sold separately) </font></font><br><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        ● Color: White ● Body dimensions: 50 x 25 x 93 mm ● Box dimensions: 117 x 36 x 162 mm
                                    </font>
                                </font><br><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        ● Body weight: 50 g (main unit only) / 110 g (including box) ● Materials : ABS resin ● Packaging form: Cosmetic box
                                    </font>
                                </font><br><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        ● Accessories: Earphones
                                    </font>
                                </font>
                            </p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">JAN: 4511793007863</font></font></p>
                        </div>
                    </div>
                </div><!--end of right-content-->
            </div><!--end of col-md-6-->
        </div>
    </div>
</div>

