
@{
    ViewBag.Title = "WineOpenerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    .CategoryImage {
        width: 308px;
        height: 466px;
    }
</style>
<div class="featured-page">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>紅酒開瓶器</h1>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div id="filters" class="button-group">
                    <button class="btn btn-primary" data-filter="*">所有產品</button>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="divPage1">
    <div class="featured container no-gutter">

        <div class="row posts isotope" style="position: relative; overflow: hidden; height: 1097.75px;">
            <div id="1" class="item new col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);">
                <a href="/Product/WineOpener_8010">
                    <div class="featured-item">
                        <img src="~/images/Products/8010_01.jpg" class="CategoryImage" alt="">
                        <br /><br /><h4>Air wine opener 4-piece set</h4><h6>建議零售價 ¥ 3,800</h6>

                    </div>
                </a>
            </div>
            <div id="2" class="item high col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(380px, 0px);">
                <a href="/Product/WineOpener_8020">
                    <div class="featured-item">
                        <img src="~/images/Products/8020_01.jpg" alt="" class="CategoryImage">
                        <br /><br /><h4>Air wine opener 2-piece set</h4><h6>建議零售價 ¥ 2,400</h6>

                    </div>
                </a>
            </div>
            <div id="3" class="item low col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(760px, 0px);">
                <a href="/Product/WineOpener_8030">
                    <div class="featured-item">
                        <img src="~/images/Products/8030_01.jpg" alt="" class="CategoryImage">
                        <br /><br /><h4>Corkscrew opener 4-piece set</h4><h6>建議零售價 ¥ 3,500</h6>

                    </div>
                </a>
            </div>
            <div id="4" class="item low col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 366px);">
                <a href="/Product/WineOpener_8040">
                    <div class="featured-item">
                        <img src="~/images/Products/8040_01.jpg" alt="" class="CategoryImage">

                        <br /><br /><h4>Corkscrew opener 2-piece set</h4><h6>建議零售價 ¥ 2,000</h6>

                    </div>
                </a>
            </div>


        </div>

    </div>

</div>

