
@{
    ViewBag.Title = "WineOpener_8040";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}


<div class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Corkscrew opener 2-piece set</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-slider">
                    <div class="product-slider">
                        <div id="slider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/Products/8040_01.jpg" />
                                </li>

                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <div class="pDetail">
                        <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">8040 Corkscrew opener 2-piece set</font></font></h4>
                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Suggested retail price ¥ 2,000 (excluding tax) 1C / 40 pieces</font></font></h6>
                        <div class="details">
                            <p class="space5b">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Set contents: Foil cutter, corkscrew opener </font></font><br><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        ● Box dimensions: 117 × 50 × 232 mm ● Body weight: 115 g (main body only) / 210 g (including box)
                                    </font>
                                </font><br><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        ● Foil cutter material: blades (4 places), surface metal part: stainless steel , Black part: PC (polycarbonate)
                                    </font>
                                </font><br><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        ● Corkscrew opener Material: Main body (black part of knob and sleeve): ABS resin, Corkscrew part: Stainless steel (surface is Teflon processed)
                                    </font>
                                </font><br><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        ● Packaging form: Cosmetic box
                                    </font>
                                </font>
                            </p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">JAN: 4511793007306                      </font></font></p>
                        </div>
                    </div>
                </div><!--end of right-content-->
            </div><!--end of col-md-6-->
        </div>
    </div>
</div>
