
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="caption">
                   
                    <div class="line-dec"></div>
                    <h4 style="padding-top:4px;">
                        天有不測的風雲;您準備好保護您的摯愛和親人了嗎？
                        <!--Nature is unpredictable. Are you ready to protect your family members from natural disasters?-->
                    </h4>
                    <!--div class="main-button">
                        <a href="#">Order Now!</a>
                    </!--div-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>熱賣中</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme owl-loaded owl-drag">









                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-1412px, 0px, 0px); transition: all 0s ease 0s; width: 5368px;">
                            <div class="owl-item active" style="width: 262.5px; margin-right: 20px;">
                                <a href="single-product.html">
                                    <div class="featured-item">
                                        <img src="~/images/Products/1010_01.png" alt="Item 5">
                                        <h4>ISU 包装</h4>
                                        <h6>¥15,000</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item active" style="width: 262.5px; margin-right: 20px;">
                                <a href="single-product.html">
                                    <div class="featured-item">
                                        <img src="/images/Products/105_01.png" alt="Item 6">
                                        <h4>防灾单肩包</h4>
                                        <h6>¥2,500</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item active" style="width: 262.5px; margin-right: 20px;">
                                <a href="single-product.html">
                                    <div class="featured-item">
                                        <img src="~/images/Products/3080_01.jpg" alt="Item 7">
                                        <h4>活着迷你护肩21</h4>
                                        <h6>¥8,000</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item active" style="width: 262.5px; margin-right: 20px;">
                                <a href="single-product.html">
                                    <div class="featured-item">
                                        <img src="~/images/Products/3100_01.jpg" alt="Item 8">
                                        <h4>ISU PACKER防灾套装</h4>
                                        <h6>¥20,000</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item active" style="width: 262.5px; margin-right: 20px;">
                                <a href="single-product.html">
                                    <div class="featured-item">
                                        <img src="~/images/Products/3200_01.jpg" alt="Item 9">
                                        <h4>Cras tempus</h4>
                                        <h6>$95.00</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item active" style="width: 262.5px; margin-right: 20px;">
                                <a href="single-product.html">
                                    <div class="featured-item">
                                        <img src="/images/item-01.jpg" alt="Item 1">
                                        <h4>Proin vel ligula</h4>
                                        <h6>$15.00</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item active" style="width: 262.5px; margin-right: 20px;">
                                <a href="single-product.html">
                                    <div class="featured-item">
                                        <img src="/images/item-02.jpg" alt="Item 2">
                                        <h4>Erat odio rhoncus</h4>
                                        <h6>$25.00</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item active" style="width: 262.5px; margin-right: 20px;">
                                <a href="single-product.html">
                                    <div class="featured-item">
                                        <img src="/images/item-03.jpg" alt="Item 3">
                                        <h4>Integer vel turpis</h4>
                                        <h6>$35.00</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item active" style="width: 262.5px; margin-right: 20px;">
                                <a href="single-product.html">
                                    <div class="featured-item">
                                        <img src="/images/item-04.jpg" alt="Item 4">
                                        <h4>Sed purus quam</h4>
                                        <h6>$45.00</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item" style="width: 262.5px; margin-right: 20px;">
                                <a href="single-product.html">
                                    <div class="featured-item">
                                        <img src="/images/item-05.jpg" alt="Item 5">
                                        <h4>Morbi aliquet</h4>
                                        <h6>$55.00</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item" style="width: 262.5px; margin-right: 20px;">
                                <a href="single-product.html">
                                    <div class="featured-item">
                                        <img src="/images/item-06.jpg" alt="Item 6">
                                        <h4>Urna ac diam</h4>
                                        <h6>$65.00</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item" style="width: 262.5px; margin-right: 20px;">
                                <a href="single-product.html">
                                    <div class="featured-item">
                                        <img src="/images/item-04.jpg" alt="Item 7">
                                        <h4>Proin eget imperdiet</h4>
                                        <h6>$75.00</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item" style="width: 262.5px; margin-right: 20px;">
                                <a href="single-product.html">
                                    <div class="featured-item">
                                        <img src="/images/item-05.jpg" alt="Item 8">
                                        <h4>Nullam risus nisl</h4>
                                        <h6>$85.00</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item" style="width: 262.5px; margin-right: 20px;">
                                <a href="single-product.html">
                                    <div class="featured-item">
                                        <img src="/images/item-06.jpg" alt="Item 9">
                                        <h4>Cras tempus</h4>
                                        <h6>$95.00</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item cloned" style="width: 262.5px; margin-right: 20px;">
                                <a href="single-product.html">
                                    <div class="featured-item">
                                        <img src="/images/item-01.jpg" alt="Item 1">
                                        <h4>Proin vel ligula</h4>
                                        <h6>$15.00</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item cloned" style="width: 262.5px; margin-right: 20px;">
                                <a href="single-product.html">
                                    <div class="featured-item">
                                        <img src="/images/item-02.jpg" alt="Item 2">
                                        <h4>Erat odio rhoncus</h4>
                                        <h6>$25.00</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item cloned" style="width: 262.5px; margin-right: 20px;">
                                <a href="single-product.html">
                                    <div class="featured-item">
                                        <img src="/images/item-03.jpg" alt="Item 3">
                                        <h4>Integer vel turpis</h4>
                                        <h6>$35.00</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item cloned" style="width: 262.5px; margin-right: 20px;">
                                <a href="single-product.html">
                                    <div class="featured-item">
                                        <img src="/images/item-04.jpg" alt="Item 4">
                                        <h4>Sed purus quam</h4>
                                        <h6>$45.00</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item cloned" style="width: 262.5px; margin-right: 20px;">
                                <a href="single-product.html">
                                    <div class="featured-item">
                                        <img src="/images/item-05.jpg" alt="Item 5">
                                        <h4>Morbi aliquet</h4>
                                        <h6>$55.00</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><button role="button" class="owl-dot"><span></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
