
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/artificalintelligence.png');height:700px !important;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate mb-0 text-center">

                <h1 class="mb-0 bread">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section testimony-section ftco-no-pb">
    <div class="img img-bg border" style="background-image: url(images/bg_4.jpg);"></div>
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <h3>什麼是博翹人工智能會計服務</h3>
                <div class="subheading">打破傳統會計理賬服務，推出嶄新創意無紙化會計服務，運用雲端網絡科技為客戶提供操作簡單､快捷，節省成本的一站式理賬服務，安排專業會計師團隊審核，已審核財務報表連同已填寫的利得稅報稅表一併提交稅局，提升編製財務報表的時間，只需T+1（日）客戶可實時查核財務狀況。</div>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left" /></div>
                            <div class="text">
                                <p class="mb-4">我可以登入專屬功能，實時了解公司現金狀況。如對報表有任何疑問，可隨時查閱賬目對應的原文件圖片，方便、快捷，無需翻閱紙質會計文件單據。</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(/images/person_1.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">老闆心聲</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left" /></div>
                            <div class="text">
                                <p class="mb-4">使用員工專屬權限登入，簡單掃描/拍照上傳會計單據，可實時登入系統，查閱上傳後的圖片，進行簡單審核。</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(/images/business_girl.jpeg)"></div>
                                    <div class="pl-3">
                                        <p class="name">員工心聲</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left" /></div>
                            <div class="text">
                                <p class="mb-4"><ul style="margin:0 0 0 0"><li>運用雲端技術傳送會計單據，實現無紙化操作。</li><li>操作流程簡單化，快速編製完整財務報表，實現快捷化效率。</li><li>隨時查閱會計賬目和報表，輕鬆掌握現金流情況，實現方便化服務。</li><li>實現提供優質秘書服務，安排獨立專業會計師團隊審核的一站式服務。</li></ul></p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(/images/business_girl2.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">博翹人工智能會計的優點</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
                            <div class="text">
                                <p class="mb-4">可透過手機APP或電腦進行會計服務，通過掃描或拍照功能將單據文件上傳雲端系統，即可擁有專業會計人員為您理賬，每日隨時全方位掌握經營狀況。</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(/images/asianfemale3.png)"></div>
                                    <div class="pl-3">
                                        <p class="name">博翹人工智能會計如何為你服務</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">博翹人工智能</span>
                <h2>方便、快捷、慳成本的會計服務</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <div class="text text-center">
                        <a href="blog-single.html" class="block-20 img" style="background-image: url('/images/image_1.jpg');">
                        </a>
                        <div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
                            <div>
                                <span class="day">01</span>
                                <!--span class="mos">May</span>
                                <span-- class="yr">2020</span-->
                            </div>
                        </div>
                        <h3 class="heading mb-3"><a href="#">服務宗旨</a></h3>
                        <p><ul class="text text-left"><li>為客戶打造方便，快捷，節省成本的會計服務。</li><li>安全加密的雲端網絡，為客戶提供可靠的服務。</li><li>可隨時上傳單據，為客戶打造方便快捷的操作。</li><li>實惠的服務費用，為客戶節省高昂的會計成本。</li></ul></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <div class="text text-center">
                        <a href="blog-single.html" class="block-20 img" style="background-image: url('/images/servicecontent.jpg');">
                        </a>
                        <div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
                            <div>
                                <span class="day">02</span>

                            </div>
                        </div>
                        <h3 class="heading mb-3"><a href="#">服務內容</a></h3>
                        <p><ul class="text text-left"><li>T+1（日）會計記賬服務。</li><li>可用手機，電腦實時查閱報表及追蹤原文件單據，全面掌握公司財務狀況。</li><li>隨時隨地查閱賬目對應的原文件圖片。</li><li>提供基本秘書服務，安排獨立專業會計師團隊審核。</li></ul></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <div class="text text-center">
                        <a href="blog-single.html" class="block-20 img" style="background-image: url('/images/cloud.png');">
                        </a>
                        <div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
                            <div>
                                <span class="day">03</span>

                            </div>
                        </div>
                        <h3 class="heading mb-3"><a href="#">雲端網絡</a></h3>
                        <p><ul class="text text-left"><li>以IBM安全雲端網絡構建保密網絡環境。</li><li>使用https加密網址，防止不良入侵，資料外洩。</li><li>提供保密的查詢登錄賬號，不同賬號設有不同權限，預防越權窺看。</li><li>高質素雲端服務處理，高速，安全，保密。</li></ul></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row justify-content-center mb-5">
    <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">博翹人工智能</span>
        <h2>與傳統會計成本的比較</h2>
    </div>
</div>
<!--Table-->
<table id="tablePreview" class="table table-hover table-striped">
    <!--Table head-->
    <thead>
        <tr>
            <th scope="row"></th>
            <th>博翹人工智能服務</th>
            <th>傳統會計服務 Name</th>

        </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
        <tr>
            <th>價錢</th>
            <th>$</th>
            <td>$$$$</td>

        </tr>

        <tr>
            <th>丟失文件</th>
            <th>不會</th>
            <td>有機會</td>

        <tr>
            <th>文件洩漏</th>
            <th>
                不會<br />
                (文件自動加密)
            </th>
            <td>有機會</td>

        </tr>
        <tr>
            <th>快速傳送文件單據</th>
            <td><img src="~/images/cross.png" width="50" height="50" /></td>
            <th><img src="~/images/check.png" width="50" height="50" /></th>

        </tr>

        <tr>
            <th>快速查找銀行單、合同、借貸款等重要文件</th>
            <th><img src="~/images/check.png" width="50" height="50"  /></th>
            <td><img src="~/images/cross.png" width="50"  height="50"  /></td>


        </tr>
        <tr>
            <th>隨時拍照上傳單據</th>
            <th><img src="~/images/check.png" width="50" height="50" /></th>
            <td><img src="~/images/cross.png" width="50" height="50" /></td>


        </tr>
        <tr>
            <th>隨時查核原文件單據圖片</th>
            <th><img src="~/images/check.png" width="50" height="50" /></th>
            <td><img src="~/images/cross.png" width="50" height="50" /></td>


        </tr>
        <tr>
            <th>資料加密（使用IBM安全雲端）</th>
            <th><img src="~/images/check.png" width="50" height="50" /></th>
            <td><img src="~/images/cross.png" width="50" height="50" /></td>


        </tr>
        <tr>
            <th>當日入數，隔日查數</th>
            <th><img src="~/images/check.png" width="50" height="50" /></th>
            <td><img src="~/images/cross.png" width="50" height="50" /></td>


        </tr>
        <tr>
            <th>手機和電腦雙結合</th>
            <th><img src="~/images/check.png" width="50" height="50" /></th>
            <td><img src="~/images/cross.png" width="50" height="50" /></td>


        <tr>
            <th>隨時了解公司現金流動情況</th>
            <th><img src="~/images/check.png" width="50" height="50" /></th>
            <td><img src="~/images/cross.png" width="50" height="50" /></td>


        </tr>
      
    </tbody>
    <!--Table body-->
</table>
<!--Table-->