
@{
    ViewBag.Title = "GovernmentSubsidy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section bg-light custom-tabs">
    <div class="container" style="background:url('/img/cream_dust.png')">
        <div class="row">
            <div class="col-md-4 pt-5 border-right element-animate fadeInLeft element-animated" data-animate-effect="fadeInLeft">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><span>01</span> 科技券計劃 (TVP)</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span>02</span> BUD 企業支援</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><span>03</span> 中小企業市場推廣基金 (EMF)</a>
                  
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7 element-animate fadeInLeft element-animated" data-animate-effect="fadeInLeft">

                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <!--img src="~/img/company.png" /--><br />
                        <h2 class="text-primary">科技券計劃 (TVP)</h2>
                        <!--p class="lead">​適合為子女安排，條件甚為簡易。</p-->
                        <p>
                            2020-21 年度《財政預算案》公布，政府將於 2020 年 4 月 1 日起進一步優化科技券，以進一步協助企業利用科技改善業務運作及提升競爭力。政府就獲批項目的資助比例會由三分之二提高至四分之三，
                            每名申請者的資助上限會由四十萬元增加至六十萬元，而獲批項目數目上限亦會由四個增加至六個。
                        </p>
                        <p>
                            (注意：上述措施只適用於 2020 年 4 月 1 日或之後遞交的申請。於上述日期前已提交申請的申請者，如希望藉著優化措施申請更高的資助額，應在科技券計劃管理系統撤回原先申請，再於 4 月 1 日或之後提交新的申請。)
                        </p>
                        <p>

                            政府資助的科技券計劃（TVP）由創新及科技基金設立，旨在資助本地非上市企業及機構使用科技服務和方案，以提高生產力或就其業務流程升級轉型。

                            科技券計劃於 2016 年 11 月以先導形式推出，以提高生產力或升級轉型。計劃由創新及科技基金提供五億港元設立，在 2019 年 2 月 27 日被納入為創新及科技基金下一個恆常的資助計劃。
                        </p>
                        <h2 class="text-primary">資助範圍</h2>
                        <ol>

                            <li>科技券計劃會以 3:1 的配對模式，向每間合資格企業最多可獲批 6 個項目最高 60 萬港元資助</li>
                            <li>企業須以現金投入不少於核準項目總成本四分之一的資金。待項目審批完成後，政府會向申請企業發放核準資助</li>
                            <li>每個項目一般應在 12 個月內完成</li>
                        </ol>
                        <h2 class="text-primary">申請資格</h2>
                        <p>
                            企業必須在本港登記，並有實質業務運作一年或以上。而一些主要業務是在香港境外進行的企業，並不在計劃的涵蓋範圍內。

                            另外，政府訂明的中小企定義為少於 100 人的製造業公司，或少於 50 人的非製造業公司。

                        </p>

                        <h2 class="text-primary">科技券提供的資助款項可用哪些項目？</h2>
                        <ol>

                            <li>科技顧問服務－申請者可委聘科技顧問就其申請項目提供外部顧問服務。在提出申請時，有關顧問必須為本地組織或科研機構，或已根據《商業登記條例》在香港登記的公司／機構。</li>
                            <li>購買、租用或訂購屬於項目必要組成部分的訂製設備／硬件、軟件及科技服務或方案。</li>
                            <li>
                                購買、租用或訂購屬於項目必要組成部分的現成設備／硬件、軟件及科技服務或方案。

                                一般而言，這些設備／硬件／軟件／服務或方案的成本，不應超逾項目成本的 50%。
                            </li>
                            <li>項目審計(適用於核準資助額超過五萬港元的項目)，惟獲計算入項目總成本的審計費用上限為 3,000 港元。</li>
                        </ol>
                        <h2 class="text-primary">一般營運成本不會獲科技券資助。當中包括但不限於</h2>
                        <ol>

                            <li> 樓宇租金；</li>
                            <li>購買、租用或訂購屬於項目必要組成部分的訂製設備／硬件、軟件及科技服務或方案。</li>
                            <li>
                                員工薪金及其他相關開支，包括但不限於強制性公積金供款、約滿酬金、周年薪酬調整、一般附帶福利(例如醫療)，

                                以及津貼(例如房屋、交通、逾時工作津貼)、一般培訓及發展；
                            </li>
                            <li> 日常營運所需的一般辦公室設備／硬件、軟件及科技服務或方案；</li>
                            <li>
                                現有及新購置設備的維修保養、保用及保險；
                            </li>
                            <li>非與科技相關的專業服務費；</li>
                            <li>市場及品牌推廣費用；</li>
                            <li>交通和住宿；</li>
                            <li>融資支出(例如支付貸款利息)；以及</li>
                            <li>行政費用。</li>
                        </ol>
                        <h2 class="text-primary">申請所需文件</h2>
                        <ol>

                            <li> 商業登記證副本、商業登記署表格 1(a) 或公司註冊處 (表格NAR1) 副本</li>
                            <li>實質業務運作證明文件</li>
                            <li>
                                申請人身分證明文件副本
                            </li>
                            <li> 科技顧問的商業登記證副本</li>
                            <li>
                                報價單副本
                            </li>
                        </ol>


                    </div>
                    <div class="tab-pane fade " id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <br />
                        <h2 class="text-primary">BUD 專項基金- 企業支援</h2>
                        <!--p class="lead">​適合為子女安排，條件甚為簡易。</p-->
                        <p>
                            BUD 專項基金資助個別香港企業推行有關發展品牌、升級轉型和拓展內銷的項目，從而提升他們在內地市場的競爭力，資助個別香港企業推行有關發展品牌、升級轉型和促進銷售項目到自由貿易協定經濟體，從而提升他們在東盟市場的競爭力，促進他們在東盟市場的業務發展。
                        </p>
                        <p>
                            <b>項目年期：</b>0 - 24 個月

                            <b>
                                資助額：
                            </b>最高為個別項目總核準開支的 50%

                            <b>
                                累積資助額：
                            </b>最高為 HK$2,000,000

                            <b>
                                項目數量：
                            </b>最多可獲資助 20 個核準項目，餘下的 50% 項目
                            <b> 總核準開支：</b>須以現金形式承擔
                        </p>
                        <h2 class="text-primary">申請資格及要求</h2>
                        <ol>

                            <li>按照《商業登記條例》（第 310 章）在香港登記的非上市企業</li>
                            <li>在香港有實質業務運作</li>
                            <li>
                                如申請涉及內地單位執行項目措施，需符合下列任何一項：
                                <ol type="A">
                                    <li>持有內地單位的擁有權 - 50%以上</li>
                                    <li>持有申請企業擁有權的股東(自然人) - 30% 或以上,持有內地單位的擁有權 - 50% 以上</li>
                                    <li>申請企業及內地單位由同一群股東(自然人) - 100％</li>
                                </ol>
                            </li>
                        </ol>
                        <h2 class="text-primary">撥款方式</h2>
                        方式[1]－設首期撥款：
                        <ol>

                            <li>企業需要開設獨立項目帳戶以處理項目的收入及開支。</li>
                            <li>項目必需於獲批及簽訂資助協議後才可開始。</li>
                        </ol>
                        方式[2]－不設首期撥款：
                        <ol>

                            <li>企業無需開設獨立項目專用的銀行帳戶</li>
                            <li>項目可於提交申請表格送達秘書處後翌日開始（但申請必需獲批才取得資助）</li>
                        </ol>
                        <h2 class="text-primary">申請時所需文件</h2>

                        <ol>

                            <li>申請表格之軟件檔</li>
                            <li>經簽署及公司蓋章之申請表格正本</li>
                            <li>商業登記證副本</li>
                            <li>主要股東資料的證明文件副本(NAR1)</li>
                            <li>在香港有實質業務運作的證明文件副本</li>
                            <li>與內地業務單位有直接投資關係的證明文件副本</li>
                            <li>公司簡介及所需做的資助項目內容</li>

                        </ol>
                        <h2 class="text-primary">主要資助範圍</h2>

                        <ol>

                            <li> 新設業務單位的相關開支 (不可多於項目總開支的 20％)</li>
                            <li>額外增聘員工 (不可多於項目總開支的 50％)</li>
                            <li> 購買機器、設備及模具 (不可多於項目總開支的 70％)</li>
                            <li>產品樣本 (不可多於項目總開支的 30％)</li>
                            <li>廣告 (不可多於項目總開支的 50％)</li>
                            <li>展覽會及宣傳活動、以及其相關的交通及住宿開支 (交通及住宿費不可多於項目總開支的 20％)</li>
                            <li>設計/ 製作宣傳品</li>
                            <li>網上商貿平台</li>
                            <li>建立/ 優化網頁</li>
                            <li>流動應用程式 (推動用途) (不可多於項目總開支的 50％)</li>
                            <li>檢測及認證</li>
                            <li>項目直接相關的專利和商標註冊 (此累別之累計資助額不可多於港幣三十萬元)</li>
                            <li>為獲批項目所需的帳目外聘核數費用 (全額資助，每次最多港幣一萬元，計入企業的資助上限)</li>
                        </ol>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <br />
                        <h2 class="text-primary">中小企業市場推廣基金 (EMF)</h2>
                        <!--p class="lead">適合有意打算或已開始在新加坡註冊私人有限公司的人士，以企業家、創新者或投資者的身份申請，必須乎合相對創新標準。</!p-->
                        <p>
                            政府資助「中小企業市場推廣基金」（EMF）已於 2019 年 11 月 1 日擴闊商貿考察團資助範圍，以涵蓋由政府、政府相關機構或非分配利潤的工商組織主辦，並以擴展市場為目標的商貿考察團。
                        </p>

                        <p>
                            「中小企業市場推廣基金」（EMF）旨在向中小企業提供資助，以鼓勵中小企業參與出口推廣活動，藉此協助其擴展香港境外市場。
                        </p>

                        <h2 class="text-primary">申請資格：</h2>

                        <ol>

                            <li>按《商業登記條例》登記並在香港有實質業務運作的中小企業。</li>
                            <li>製造業在香港僱用少於 100 人；非製造業在香港僱用少於 50 人。</li>
                            <li>  企業申請不能涉及出口推廣活動的主辦/ 協辦機構/ 服務供應商或與主辦/ 協辦機構/ 服務供應商有關連的公司。</li>
                            <li>擁有相近商業登記資料(例如業務性質、地址、聯絡電話、股東/董事)的申請企業，會被視為關連企業。</li>
                            <li>廣告 (不可多於項目總開支的 50％)</li>
                        </ol>
                        <p>就計算累計資助金額上限而言，該些關連企業會被視為單一企業，即該些關連企業所獲的累計資助金額會被合併計算及不能超過累計資助上限。</p>
                        <h2 class="text-primary">資助金額：</h2>

                        <ol>

                            <li>每宗活動申請的最高的資助額為合資格項目的核準開支的 50%，上限為港幣 10 萬元，以較低者為準。</li>
                            <li>企業申請基金資助的次數不限，每家中小企業的累計資助上限為港幣 80 萬元。</li>
                        </ol>
                        <h2 class="text-primary">資助範圍：</h2>

                        <ol>

                            <li>參與香港境外展銷/ 展覽會，及以香港境外市場為主要對象的本地展銷/ 展覽會。</li>
                            <li>參與香港境外商貿考察團。</li>
                            <li>在以香港境外市場為主要對象的印刷貿易刊物上刊登廣告。</li>
                            <li>通過電子平台/ 媒介進行以香港境外市場為主要對象的出口推廣活動，例如刊登廣告、關鍵字搜尋、上載產品資料、建立或優化網上商店等。</li>
                            <li>建立或優化申請企業所擁有，以香港境外市場為主要對象的公司網站/流動應用程式作出口推廣。</li>
                        </ol>
                        <h2 class="text-primary">申請所需文件：</h2>

                        <ol>

                            <li>填妥的申請表格</li>
                            <li>申請企業的有效商業登記證副本</li>
                            <li>商業登記冊內資料的核證或電子摘錄(即商業登記署的 Form1(a))或公司註冊處的周年申報表(即 FormNAR1)</li>
                            <li> 代表申請企業簽署申請表格人士的有效香港身份證或護照副本</li>
                            <li>繳付各項申報資助的開支的收據正本和一份副本，以及相關發票、報價單及合同等的副本(須能顯示發出機構的詳細聯絡資料)，收據上付款人名稱與申請企業名稱必須完全相同</li>
                            <li>如商業登記證中有分行的申請企業，需提交填妥的附加聲明書</li>
                        </ol>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <img src="~/img/investment.png" />
                        <h2 class="text-primary">投資移民</h2>
                        <p class="lead">此移民形式可分類為三項：</p>
                        <p>
                            1. 全球商業投資者計劃 Global Investor Programme (GIP)
                            此方案的門檻為眾多計劃中最高，適合資深企業家或投資者。申請人須擁有三
                            年或以上的營商經驗,並要提交所申報的公司近3年的審計財務報告,以證明其
                            創業經商背景。所申報的公司近一年的營業額及於過往三年的平均營業額均需
                            達到5千萬新幣。若公司屬私人擁有，申請人必須最少持股30%,而申請人對公
                            司的貢獻及帶來的生意增長，將會被考慮在內。而申請人需投資至少 250 萬新
                            加坡元開設新公司或擴充現有業務;或投資予全球商業投資者計劃所批準的基
                            金中，投資年期為5年或以上。申請週期為10-12個月,如成功獲批,可一步到
                            位取得永久居民身份 (PR)。
                        </p>
                        <p>
                            2. 增強版基金稅收激勵計畫 (13X)
                            計劃要求申請人有經商背景,而公司營業額要求為5千萬新幣,每年生意支出最低20萬新幣。此計劃好處為,其投資收益可終身免稅。申請週期為6個月,成功獲批後,申請人及部份公司僱員可取得Employment Pass (EP)。

                        </p>
                        <p>
                            3. 基金稅收激勵計畫 (13R)
                            計劃要求申請人有經商背景,而公司營業額要求為5百萬新幣,每年生意支出最低20萬新幣。此計劃好處為,其投資收益可終身免稅。申請週期為6個月,成功獲批後,申請人可取得Employment Pass (EP)。


                        </p>

                    </div>
                    <div class="tab-pane fade " id="v-pills-school" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <img src="~/img/classroom.png" />
                        <h2 class="text-primary">讀書移民</h2>
                        <p>
                            新加坡留學移民較適合小學至初中之學生。而學生須在新加坡居住滿2年或以上,於新加坡的公立學校或私立學校就讀,並能通過以下其中一項新加坡國家級考試,包括：小六離校試PSLE,新加坡普通教育水準會考O-Level及新加坡普通教育高級水準會考A-Level,便有機會申請成為PR。值得注意的是,雖然條件較寬鬆,但新加坡對讀書移民申請人的學術及個人技能條件之批核較為嚴謹,務求能吸納到各地的精英人才於新加坡落地生根。
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




