@{
    ViewBag.Title = "Home Page";
}

<section class="hero-wrap" style="background-image: url('/images/LadyInPeace.png');height:700px" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center">
            <div class="col-md-8 ftco-animate d-flex align-items-end fadeInUp">
                <div class="text w-100">
                    <h1 class="mb-4" style="letter-spacing:5px">
                        博翹輔助您
                        <br /><br/>萬事可放心
                    </h1>
                    <a href="#" role="button" class="btn btn-outline-info py-3 px-4">了解更多</a></p>
</div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt mt-5 mt-md-0">
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-flex align-items-stretch ftco-animate fadeInUp">
                <div class="services-2 text-center">
                    <div class="boxcontainer">

                        <img src="~/images/ai.png" />

                        <div class="text-box">
                            <h2><a href="/Home/AIAccounting">點擊這裡了解更多關於博翹人工智能會計服務</a></h2>

                        </div>
                    </div>
                    <h2 style="margin-top:20px;">博翹人工智能會計服務</h2>
                    <p>
                        打破傳統會計理賬服務，推出嶄新創意無紙化會計服務，運用雲端網絡科技為客戶提供操作簡單､快捷，節省成本的一站式理賬服務，
                        安排專業會計師團隊審核，已審核財務報表連同已填寫的利得稅報稅表一併提交稅局，
                        提升編製財務報表的時間，只需T+1（日）客戶可實時查核財務狀況。
                    </p>


                </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch ftco-animate fadeInUp">
                <div class="services-2 text-center">
                    <div class="boxcontainer">

                        <img src="~/images/AccountServices.png" />

                        <div class="text-box">
                            <h2><a href="/Home/AIAccounting">點擊這裡了解更多關於註册公司及核數服務</a></h2>

                        </div>
                    </div>
                    <h2 style="margin-top:20px;">註册公司及核數服務</h2>
                    <p>
                        打破傳統會計理賬服務，推出嶄新創意無紙化會計服務，運用雲端網絡科技為客戶提供操作簡單､快捷，節省成本的一站式理賬服務，
                        安排專業會計師團隊審核，已審核財務報表連同已填寫的利得稅報稅表一併提交稅局，
                        提升編製財務報表的時間，只需T+1（日）客戶可實時查核財務狀況。
                    </p>


                </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch ftco-animate fadeInUp">
                <div class="services-2 text-center">

                    <div class="boxcontainer">

                        <img src="~/images/computerShrink.jpg" />

                        <div class="text-box">
                            <h2><a href="/Home/WebDesignHosting">點擊這裡了解更多關於網站設計與管理</a></h2>

                        </div>
                    </div>
                    <h2 style="margin-top:20px;">網站設計與管理</h2>
                    <p>
                        由專業程式編寫員, 使用最先進的程式語言例如 bootstrap 4.0, HTML 5, CSS 3, Jquery, 等等..,
                        保證能夠設計和開發一個讓你滿意和獨一無二的網站
                    </p>


                </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch ftco-animate fadeInUp">
                <div class="services-2 text-center">
                    <div class="boxcontainer">

                        <img src="~/images/governmentSubsidy.png" />

                        <div class="text-box">
                            <h2><a href="/Home/GovernmentSubsidy">點擊這裡了解更多政府資助計劃</a></h2>

                        </div>
                    </div>
                    <h2 style="margin-top:20px;">政府資助計劃</h2>
                    <p>
                        香港政府提供許多計劃幫助中小企業
                    </p>


                </div>
            </div>
        </div>
    </div>
</section>