
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/ComputerServer.png');height:550px !important;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate mb-0 text-center">

                <h1 class="mb-0 bread">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section testimony-section ftco-no-pb">
    <div class="img img-bg border" style="background-image: url(images/bg_4.jpg);"></div>
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <h3>

                    感言
                </h3>
                <div class="subheading">客戶給我們的話</div>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left" /></div>
                            <div class="text">
                                <p class="mb-4">
                                    專業的服務和態度, 我可以參與網站的設計提供意見
                                    ，我的想法受到尊重。如對網站有任何疑問，可隨時詢問
                                    專業的程式設計員，方便、快捷，無需翻閱很難理解的文件。
                                </p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(/images/asianmaleboss1.png)"></div>
                                    <div class="pl-3">
                                        <p class="name">李老闆留言</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left" /></div>
                            <div class="text">
                                <p class="mb-4">公司有自己的網站域名和電子郵件大大提高了它的商譽。客戶對我們的信心大大增加。</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(/images/asian_female1.png)"></div>
                                    <div class="pl-3">
                                        <p class="name">
                                            黃小姐的想法


                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left" /></div>
                            <div class="text">
                                <p class="mb-4">
                                    利用雲端和數據加密技術，客戶個人資料得到全面保護。所有網站問題有
                                    博翹專業網絡人員解決和監控。令我安寢無憂。
                                </p>

                                <div class="user-img" style="background-image: url(/images/asian_male1.png)"></div>
                                <div class="pl-3">
                                    <p class="name">張先生的想法</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"/></div>
                            <div class="text">
                                <p class="mb-4">
                                    專業的程式設計員聆
                                    聽你的需求,使用最先進的程式語言例如 bootstrap 4.0, HTML 5, CSS 3, Jquery, 等等..設計一個
                                    讓你滿意和獨一無二的網站。
                                    所有技術上的問題都幫助您解決。
                                </p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(/images/asianfemale2.png)"></div>
                                    <div class="pl-3">
                                        <p class="name">博翹國際如何為你服務</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
    
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">博翹國際</span>
                <h2>
                    為你
                    提供網站設計和管理服務
                </h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <div class="text text-center">
                        <a href="#" class="block-20 img" style="background-image: url('/images/toptechnology.jpg');">
                        </a>
                        <div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
                            <div>
                                <span class="day">01</span>
                                <!--span class="mos">May</span>
                                <span-- class="yr">2020</span-->
                            </div>
                        </div>
                        <h3 class="heading mb-3"><a href="#">走在技術尖端</a></h3>
                        <p>
                            由專業程式編寫員, 使用最先進的程式語言例如 bootstrap 4.0, HTML 5, CSS 3, Jquery, 等等..,
                            保證能夠設計和開發一個讓你滿意和獨一無二的網站</p>
</div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <div class="text text-center">
                        <a href="#" class="block-20 img" style="background-image: url('/images/image_2.jpg');">
                        </a>
                        <div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
                            <div>
                                <span class="day">02</span>

                            </div>
                        </div>
                        <h3 class="heading mb-3"><a href="#">與你同行</a></h3>
                        <p>
                            聆
                            聽你的需要並提供專業意見,確保你的網站符合您業務的需求
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <div class="text text-center">
                        <a href="#" class="block-20 img" style="background-image: url('/images/safetyfirst.jpg');">
                        </a>
                        <div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
                            <div>
                                <span class="day">03</span>

                            </div>
                        </div>
                        <h3 class="heading mb-3"><a href="#">安全第一</a></h3>

                        <p>利用雲端和數據加密技術，客戶個人資料得到全面保護。使用https加密網址，防止不良入侵，資料外洩。高質素雲端伺服器, 保證您的網站運行, 平穩, 高速，安全。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>