
@{
    ViewBag.Title = "CanadaImmigration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="hero-wrap hero-wrap-2" style="background-image: url('/img/CanadaImmigration.jpg'); background-position: 50% -18.4px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5 fadeInUp ftco-animated">

                <h1 class="mb-0 bread">关于加拿大</h1>
            </div>
        </div>
    </div>
</section>
