
@{
    ViewBag.Title = "CanadaIntro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/img/AboutCanada.jpg'); background-position: 50% -18.4px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5 fadeInUp ftco-animated">

                <h1 class="mb-0 bread">加拿大移民</h1>
            </div>
        </div>
    </div>
</section>
<div style="clear:both"></div><br/><br/>
<section class="ftco-section ftco-no-pt bg-light ftco-faqs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="img-faqs w-100">
                    <div class="img mb-4 mb-sm-0" style="background-image:url(/img/ontario.jpg);">
                    </div>
                    <div class="img img-2 mb-4 mb-sm-0" style="background-image:url(/img/bc.jpg);">
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-lg-5">
                <div class="heading-section mb-5 mt-5 mt-lg-0">

                    <h2 class="mb-3">加拿大移民</h2>
                    <p>
                        加拿大政府的目标是于未来3年，吸纳超过100万个新移民。而我司主要为客户
                        安排多伦多及温哥华移民。
                    </p>

                    <div class="TextHeading" ">安大略省(Ontario, 安省)简介</div>
                    <p>
                        安大略省位于加拿大的东部，是世界上最多元化的地方之一，亦是首都渥太华
                        （Ottawa）及多伦多（Toronto）所在的省份。安大略省是加拿大人口最多的省
                        份，按面积来算，亦是为加拿大第二省份。
                        安大略省的著名城市为多伦多，是加拿大最大城市及金融中心，人口约600万。
                        此外，安大略省的教育在加拿大极具代表性，是因为安大略省是加拿大著名高
                        等学府的集中地，并拥有多所常青藤大学，包括多伦多大学(University of
                        Toronto)、麦克马斯特大学(McMaster University)及滑铁卢大学(University of
                        Waterloo)及西安大略大学(Western University)，因此很多家庭亦希望于安大略省
                        定居，为孩子的教育作铺垫。
                    </p>
                    <div class="TextHeading">英属哥伦比亚省(British Columbia, 卑诗省) 简介</div>
                    <p>
                        卑诗省位于加拿大西部，属于加拿大四大省之一。卑诗省的文化多样性及闻名
                        于世的安全性，再加上气候宜人，使其成为移民的热门选择，一直吸引不少新
                        移民在此定居。卑诗省人口约500万，当中有一半人口是居住在温哥华。温哥华
                        亦是当中最大和最著名的城市，吸引了很多华人到当地生活。当地亦拥有不少
                        顶尖大学，包括英属哥伦比亚大学 (University of British Columbia, UBC)、维多
                        利亚大学 (Victoria University)及西蒙菲莎大学 (Simon Fraser University)。因此除
                        了多伦多外，温哥华亦是加拿大的升学的热门胜地。
                    </p>
                </div>
                <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header p-0" id="headingOne">
                            <h2 class="mb-0">
                                <button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                    <p class="mb-0">
                                        加拿大联邦移民项目
                                    </p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-body py-3 px-0">
                                <p>
                                    此新联邦移民计划属于全新家庭儿童护理项目( Home Child Care Provider Pilot,
                                    HCCPP)及家庭护理项目( Home Support Worker Pilot, HSWP)，于2019年起为期5
                                    年，符合资格者会先获取3年特定工作签证，于3年内工作满24个月后即可直接
                                    向加拿大联邦政府申请永久居民身份。永久居民于5年内在加拿大生活时间满3
                                    年即可申请入籍，成为加拿大正式公民。
                                    家庭儿童护理项目
                                    为顾主提供持续或短期照顾儿童，协助顾主照顾18岁以下的子女，并协助处理
                                    家务，申请者可受顾于私人家庭或自雇儿童托管。
                                    家庭护理项目
                                    主要为顾主照顾家中老年人、残疾及复康家庭成员，在私人家庭及其他非机构
                                    住宅环境中执行家政及其他家庭管理职责 (不包括Housekeeping)，申请者可受
                                    顾于私人家庭或自雇。
                                </p>
                                <p> 项目优势</p>
                                   <ul>

                                       <li>无限年龄</li>
                                       <li>英语能力要求低</li>
                                       <li>可取联邦提名，于加拿大任何省份工作均可</li>
                                       <li>可自由换雇主</li>
                                       <li>家庭成员可同行并享有加拿大福利待遇</li>
                                       <li>工作主要会安排在多伦多或温哥华</li>
                                    </ul>
                                   <p>申请条件</p>
                                <ul>
                                    <li>任何年龄</li>
                                    <li>具有基本护理或幼师经验及完成有关护理或幼师课程</li>
                                    <li>学历须最少达高中或以上程度</li>
                                    <li>英语能力最少达加拿大语言标准(Canadian Language Benchmarks, CLB) 5分水平</li>
                                    <li>成功通过加拿大移民健康检查及无犯罪纪录</li>
                                   
                                   </ul>
                                    

                                 
                               
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingTwo" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseTwo" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                                    <p class="mb-0">雇主担保技术移民</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <p>
                                    加拿大技术移民的 3个计分系统分别为：加拿大国家职业分类系统(National
                                    Occupational Classification, NOC)、加拿大语言标准(Canadian Language
                                    Benchmarks, CLB)及综合排名系统(Comprehensive Ranking System, CRS)。
                                </p>
                                <p>
                                    1. 加拿大国家职业分类(National Occupational Classification, NOC)
                                    加拿大移民职业类别分为五类，即O类、A类、B类、C类及D类。其中O类、A
                                    类、B类是加拿大技术移民的移民职业，C类及D类职业不能申请加拿大技术移
                                    民，但可以申请部份省提名项目。
                                </p>
                                <p>
                                    2. 加拿大语言标准(Canadian Language Benchmarks, CLB)<br />
                                    <img src="/img/clb.jpg" width="553" height="346" />
                                    加拿大语言标准 CLB 用以评估申请人的英语能力。如你有考过英语的
                                    IELTS, CELPIP, 或法语的 TEF Canada、TCF Canada, 亦可用考试成绩对照
                                    CLB 分数。
                                </p>
                                <p>
                                    3. 综合排名系统(Comprehensive Ranking System, CRS)<br />
                                    <img src="/img/crs.jpg" width="459" height="315" /><br />
                                    基本申请条件
                                    雇主担保技术移民申请人获得一份符合职业类别(NOC B)的全职工作，获加州
                                    雇主发出最少为1年的取录通知，语言能力要达到CLB 5，于过去5年最少有2年
                                    工作经验。
                                </p>
                            </div>
                        </div>
                    </div>
               
               
                </div>
            </div>
        </div>
    </div>
</section>