
@{
    ViewBag.Title = "CanadaEducation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="hero-wrap hero-wrap-2" style="background-image: url('/img/CanadaEducation.jpg'); background-position: 50% -18.4px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5 fadeInUp ftco-animated">

                <h1 class="mb-0 bread">加拿大的教育体系</h1>
            </div>
        </div>
    </div>
</section>
<br/><br/>
<section class="ftco-section ftco-no-pt bg-light ftco-faqs">
    <div class="container">
        <div class="row">
            <!--div class="col-lg-6">
                <div class="img-faqs w-100">
                    <div class="img mb-4 mb-sm-0" style="background-image:url(images/about-2.jpg);">
                    </div>
                    <div class="img img-2 mb-4 mb-sm-0" style="background-image:url(images/about-1.jpg);">
                    </div>
                </div>
            </div-->
            <div class="col-md-12 pl-lg-5">
                <div class="heading-section mb-5 mt-5 mt-lg-0">
                   
                    <h2 class="mb-3">加拿大的教育体系</h2>
                    <p>
                        按照加拿大宪法，从幼稚园一直到大学前教育，教育体系主要由各省负责，即
                        是说不同省份的教育制度有相当大的差别，但是全国亦有统一的高标准。加拿
                        大的教育制度跟香港非常接近，中小学合共12年。因为各省自由决定教育模式
                        ，即使一般为6年小学及6年中学，亦会有卑诗省为7年小学及5年中学这样的模
                        式。
                    </p>
                    <p>
                        而加拿大亦设有ESL(English as a Second Language) 课程，即英语作为第二语言
                        的课程。顾名思义，是为了母语并非使用英文的学生所开设。这类课程是学生
                        进入北美大学必修的语言课程。在加国公立学校里，这类课程是免费开放的，
                        其授课方式从学生的基本沟通到学术上，由浅入深的渐进。
                    </p>
                </div>
                <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header p-0" id="headingOne">
                            <h2 class="mb-0">
                                <button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                    <p class="mb-0">
                                        加拿大的中小学教育。 (K-12)
                                    </p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-body py-3 px-0">
                                <p>
                                    加拿大的小学教育和中学教育经常是合在一起的，简称K-12中小学教育，即从
                                    幼儿园到12年级都在同一所学校。以安大略省（简称安省）为例，规定儿童从4
                                    岁开始进入幼儿园接受2年的学前教育，然后接受12年的义务教育。安省将幼
                                    儿园分为两个班，小班（JK）和大班（SK）。 1-8年级为初等教育（Elementary
                                    School）或小学（Primary School）；高中（Secondary School, High School,
                                    Collegiate Institute）一般为四年制，即从9-12年级。但也有一些学校将6-8年级分
                                    出来，成为Middle School 或Junior High School。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingTwo" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseTwo" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                                    <p class="mb-0">加拿大公立中学</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <p>
                                    主要分为校区管埋(Regional School Board) 或教会管理(Religion School Board)，
                                    在每个校区里会选出部份学校接收海外学生就读相关的主流课程及提供ESL班
                                    协助非英语学生。因为每间学校收取的国际学生是有限制的，所以令国际学生
                                    能够经常接触本地学生，使他们能够更快适应加拿大的学习模式，多些使用英
                                    语的机会。
                                    加拿大私立中学
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingThree" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseThree" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
                                    <p class="mb-0"> 加拿大私立中学</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <p>
                                    加拿大的私立中学亦分为寄宿中学(Boarding School)及国际中学(International
                                    School)。最主要分别是寄宿中学源自英国的寄宿中学，使学生们群体生活，能
                                    够练习到协调能力，训练领导才能，亦有更多时间去发展体育及艺等范畴。而
                                    国际中学主要是为高年级学生或英语程度较弱的学生而设立的，课程设计是希
                                    望短时间内满足升学要求而设立，使学生能够在1-2年内提升能力，进入心仪的
                                    大学，部份国际中学的大学升学率更超过九成。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingFour" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseFour" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
                                    <p class="mb-0">加拿大大专院校制度</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <p>
                                    在加拿大没有公开试，学生如果要继续升读大专，在中学阶段所修的30个学分
                                    中，至少需要6个12年级U/M课程（为高等院校准备的课程）的学分，并获得高
                                    中毕业证书。跟美国的高等教育模式非常接近，完成中学后，学生可以选择直
                                    入大学，或到学院先修读一些文凭/证书等课程，了解本身的升学或就业取向后
                                    才作出确切的升学或就业决定。而加拿大的学院能够选择的学科非常广泛，由
                                    一般的文科、理科、以至机械维修及幼儿教育都有提供，部份课程更提供带薪实
                                    习或在职培训。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingFive" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseFive" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
                                    <p class="mb-0">大学制度</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseFive" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <p>
                                    对希望寻求知识或希望进入一流学府的学生来说，加拿大绝对是一个理想地方
                                    加拿大大学分了三大类型，分别为医学/博士类大学、综合类大学和基础类大学
                                    。所谓「医学/博士类大学」的规模都比较大，学校经费及设备也很雄厚。特点
                                    是都附有医学院，除学士学位外，并可授博士硕士学位。具代表性的例子有麦
                                    吉尔大学、多伦多大学、英属哥伦比亚大学和皇后大学等。
                                </p>
                                <p>
                                    综合类（Comprehensive）大学在相比「医学/博士类大学」的规模较小，可授予
                                    硕士和学士学位，甚至有的大学也可授博士学位。具代表性的例子有西蒙菲莎
                                    大学、卡尔顿大学和渥太华大学等。

                                </p>
                                <p>
                                    基础类（Primarily undergraduate）大学的规模比以上两类略小一点，以培养本
                                    科生为主，除可授学士学位之外，也有一些大学可授硕士学位，甚至有博士学
                                    位。基础类大学的师资、奖学金、授课方式都是以本科生为主。具代表性的例
                                    子安大略理工大学及湖首大学。

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingSix" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseSix" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
                                    <p class="mb-0">大学四大热门学科</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseSix" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <p>
                                    1. 教育领域学科
                                    加拿大的高质量教育水平和文凭学位含金量是世界文明的，这也是海外留学生
                                    和移民人士乐忠于此的原因。移民人口里华裔人口已占加拿大总人口的3.5%，
                                    成为加拿大最大的少数族裔，目前加拿大已经把汉语做为其国家的第三种官方
                                    语言。并且在孩子初级教育以及中级教育阶段，进行大力的普及教育。随着这
                                    种局势的发展，幼儿教育专业，教育学专业，教育治理专业等相关教育领域的
                                    专业已经成为留学学生的热门选择。
                                </p>
                                <p>
                                    2. 旅游业
                                    加拿大旅游业十分发达。据世界旅游组织统计，加拿大在世界旅游组织收入最
                                    高国家中排名第九。

                                </p>
                                <p>
                                    3. 外贸、金融类学科
                                    加拿大是当今西方七大工业国家之一。制造业和高科技产业较发达，资源工业
                                    、初级制造业和农业亦是国民经济的主要支柱。加拿大以贸易立国，对外资、
                                    外贸依靠很大，金融服务行业也是加拿大经济的重要支柱之一。

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

