
@{
    ViewBag.Title = "WhyCanada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/img/AboutCanada.jpg'); background-position: 50% -18.4px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5 fadeInUp ftco-animated">

                <h1 class="mb-0 bread">为何选择加拿大</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">

                <span class="TextHeading">为何选择加拿大</span>
            </div>
        </div>
        <div class="row d-flex">

            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20 rounded" style="background-image: url('/img/image_education.jpg');">
                    </a>
                    <div class="text p-4">

                        <h3 class="heading"><a href="#">优质教育</a></h3>
                        <p>
                            加拿大拥有世界上最完善的教育体系，拥有世界一流的大学，中学，小学教育
                            ，学习条件也是世界一流的。加拿大推行十二年免费的义务教育，公民或永久
                            居民及其子女从小学到高中都可享有免费教育。而政府对高等教育也有很高的
                            津贴。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20 rounded" style="background-image: url('/img/image_housing.jpg');">
                    </a>
                    <div class="text p-4">

                        <h3 class="heading"><a href="#">安居乐业</a></h3>
                        <p>
                            加拿大的楼价贵吗? 相信很多人都会担心移民后的置业难度。不同城市有着不
                            同的楼价，潜在买家要切实考虑自己可动用的资金有多少，并要向不同类型的
                            物业发展，例如与其他人共租一间屋(cohabitation)，或者在大城市外住公寓单
                            位等，买家要懂得在现时楼市下，为自己作最好的选择。举个例子，在温哥华
                            ，房屋基准价大约为HKD$6,600,000至HKD$8,500,000；在蒙特利尔，房屋基准
                            价大约为HKD $2,000,000至2,500,000，可见丰俭由人。而且，在加拿大以1/3的
                            价钱买到在香港一样面积的单位，性价比极高。在贷款方面，加拿大的贷款利
                            率比其它欧美国家低，约2.5厘，风险较小。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20 rounded" style="background-image: url('/img/image_muti.jpg');">
                    </a>
                    <div class="text p-4">

                        <h3 class="heading"><a href="#">拥抱多元文化</a></h3>
                        <p>

                            加拿大总理杜鲁多曾表示:「多元是我们的力量」。加拿大致力推广多元文化，
                            吸纳各方面的人才。以移民为落脚点的多伦多为例，国际性人口极高，有49%
                            的人口是出生于加拿大外的国家，故多伦多成为世上种族最多样化的城市之一
                            。此外，多伦多有各大的多元社区，如唐人街、希腊城、小义大利、小牙买加
                            、韩国城、小葡萄牙和小印度。由此可见，当地的多元文化主义是非常广泛和
                            根深蒂固的，极少歧视情况和「排外主义」。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex">

            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20 rounded" style="background-image: url('/img/image_medical.jpg');">
                    </a>
                    <div class="text p-4">

                        <h3 class="heading"><a href="#">全民医疗保障</a></h3>
                        <p>
                            加拿大实行全民医疗保险制度。加拿大公民和合法的长期居民可以通过
                            Medicare国家医疗保险获得全面的医疗保障，从而获得医疗卡。加拿大是高税
                            收高福利国家，因为你是依法纳税的居民，政府保障你有病能治的基本权利。
                            加拿大政府的医疗保险计划包括各项医疗服务、诊金及住院费，但不包括药费
                            ，患者需自行承担。加拿大居民申请医疗卡，不同省份所需费用有些微差异。
                            大部分省份按家庭为单位缴纳费用，每月缴交100加元，约600港元。若家庭收
                            入未达到省份的最低收入水平，这部分费用是免费的。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20 rounded" style="background-image: url('/img/image_weather.jpg');">
                    </a>
                    <div class="text p-4">

                        <h3 class="heading"><a href="#">气侯分明</a></h3>
                        <p>
                            加拿大的气侯四季分明，阳光充沛。由于国家的版图辽阔，各地的气候不尽相
                            同，移民人士可以根据自己的喜好找到最合适的定居位置。要数最多人居住的
                            城市，当然是太平洋及大西洋的沿岸地区如温哥华、多伦多、蒙特利尔等，气
                            候相对温和，部分更是十大全球最宜居城市之一。
                        </p>
                    </div>
                </div>
            </div>
         
        </div>
    </div>
</section>
