
@{
    ViewBag.Title = "SPSchoolCompare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div clss="container" style="height:600px;background-image: url('/img/blackboard_lower.jpg');background-repeat: no-repeat;background-size:cover;background-attachment: fixed;background-size: 100%">

    <div class="row" style="">
        <div class="col-md-7 col-sm-12 element-animate fadeInUp element-animated" style="padding:10%;width:700px;">
            <div class="PageTitle" style="width:500px">新加坡升學</div>

        </div>
    </div>
</div>

<section class="section bg-light">
    <div class="container">

        <div class="row">
            <h2>
                新加坡升學指南
                一文看清新加坡留學讀書的5大必要資訊
            </h2><p>有很多家長都會嚮往新加坡的教育，想讓子女到新加坡升學。但家長們又未必知道新加坡教育的學制、入學試及學費等資料，所以我們身為新加坡升學顧問，決定為大家深入淺出地剖析新加坡的升學教育，解答家長的疑問。</p>

            <div style="clear:both" />

            <!--div class="col-md-12 element-animate fadeInUp element-animated" style="box-sizing:border-box">
                <div class="media d-block media-custom text-left" style="padding: 0px 20px 0px 10px;">

                </div>
            </!--div-->
        </div>
        <div class="row">
            <div class="col-md-12 element-animate fadeInUp element-animated" style="box-sizing:border-box">
                <div class="media d-block media-custom text-left" style="padding: 0px 20px 0px 10px;">
                    <div class="circleAEIS"></div><br />
                    <h2>新加坡的升學優勢 - 完善升學途徑，分流仔細</h2>
                    <p>
                        從小學開始，新加坡的學生上到小四便會遇到第一個分流試，然後小六學生就會考離校試PSLE。兩次考試成績優異的學生，可以被分到4年的特快課程，4年後直接考O Level 基準試。而其他的學生可以在4年後考N Level基準試，再進修1年後才考O Level。

                    </p>
                    <p>到新加坡中學階段，O Level成績較好的學生可以入讀2年的初級學院或3年的專科學院（即香港的高中階段），然後考讀A Level 基準試，準備入讀新加坡的大學。O Level成績稍遜的學生可以因應自己的興趣入讀3年的理工學院，再入讀心儀的大學。</p>
                    <p>新加坡的教育分流仔細，成績優異的學生可以以最快捷的途徑考到大學；成績中等的學生亦可以有更多時間鑽研學習細節及發展其他興趣技能，再入讀合適大學。可見新加坡的分流可以達到因材施教，根據每個學生的程度、能力和興趣，將學生的潛能發揮到最大。</p>
                    <div style="clear:both" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 element-animate fadeInUp element-animated">
                <div class="media d-block media-custom text-left">
                    <!--img src="~/img/schoolcompareheader.jpg" alt="compare school" style="width:100%;height:150px;" class="img-fluid"-->
                    <div class="media-body">

                        <h3 class="mt-0 text-black"><a href="#" class="text-black">學制比較</a></h3>
                        <img src="~/img/EducationPath.jpg" class="img-fluid" />


                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-4 element-animate fadeInUp element-animated">
                <div class="media d-block media-custom text-left">
                    <img src="/img/elementaryschool.jpg" alt="Image Placeholder" class="img-fluid">
                    <div class="media-body">

                        <h3 class="mt-0 text-black"><a href="#" class="text-black">入新加坡公立學校前必考的考試 - AEIS</a></h3>
                        <p>
                            如果家長們真的有意想讓小朋友到新加坡升讀公立學校，必須了解這唯一途逕 - AEIS考試。AEIS (Admission Exam for International Students) 是專為有意到新加坡讀公立學校的小朋友而設立的國際留學生入學考試。新加坡當局會於每年9月或10月舉辦考試，並於翌年2月設立補考S-AEIS，讓有意入學小二至小五、中一至中三的學生報考，為入讀公立學校作準備。


                        </p>
                        <p>

                            AEIS 的測試範圍主要分為兩方面：英語和數學，包括英文的閱讀能力、寫作能力、數理運算及邏輯推理。第1次的考核是通常在9月舉行；如果未達入學門檻，可於下年2月參加補考S-AEIS (Supplementary Admissions Exercise for International Students)。另外，新加坡局考慮到學生需準備小六離校試PSLE 和O level，S-AEIS將不設小五和中三的補考，以免學生到埗後未能升班。所以，新加坡的國際升學生需要熟習本地教育的大綱及程度，具備一定的英文及數學能力才可成功。
                        </p>


                    </div>
                </div>
            </div>
            <div class="col-md-4 element-animate fadeInUp element-animated">
                <div class="media d-block media-custom text-left">
                    <img src="~/img/highschool.jpg" alt="Image Placeholder" class="img-fluid">
                    <div class="media-body">

                        <h3 class="mt-0 text-black"><a href="#" class="text-black">​新加坡公立/私立/國際學校的分別</a></h3>
                        <p>在新加坡的升學制度中，小朋友可以選擇公立、私立及國際學校。三者的優勢在小學和中學各異，下列為三類學校之分別。</p>
                        <p>在小學方面，公立小學需要參加上述的AEIS入學試。由於公立小學受政府資助，學費較便宜，入學名額也優先給予公民、PR及有長期居留證的人士，所以公立小學最難考取。而私立小學及國際小學則需參與自主招生考試，私立小學學位有一定限額，而國際學校的學位是相對充裕，是三者之中相對容易入學，教學條件也相對優越。</p>
                        <p>在中學方面，公立中學也需要參加上述的AEIS入學試。同樣道理，受政府資助的公立中學學位較緊絀。而國際中學不同於國際小學，年級越高學位相對緊張，需要考試和排隊。而私立中學的學位是三者中最充裕的，有較高入學機會。</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 element-animate fadeInUp element-animated">
                <div class="media d-block media-custom text-left">
                    <img src="~/img/universityheader.jpg" alt="Image Placeholder" class="img-fluid">
                    <div class="media-body">
                        <div class="media-body">
                            <h3 class="mt-0 text-black"><a href="#" class="text-black">新加坡的升學費用</a></h3>
                            <p>新加坡小學的教學費用由 $970至3500坡幣不等，取決於小學的類型。公立小學一個月學費大約為 $969至1059坡幣，私立小學一個月學費大約為 $1237至1590坡幣，國際小學一個月學費大約為 $1943至3534坡幣。</p>
                            <p>新加坡中學的教學費用由 $769至3500坡幣不等，取決於中學的類型。公立中學一個月學費大約為 $769至883坡幣，私立中學一個月學費大約為 $1590至1767坡幣，國際中學一個月學費大約為 $2120至3534坡幣。</p>


                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5 element-animate fadeInUp element-animated">
                    <div class="media d-block media-custom text-left">
                        <!--img src="~/img/schoolcompareheader.jpg" alt="compare school" style="width:100%;height:150px;" class="img-fluid"-->
                        <div class="media-body">

                            <h3 class="mt-0 text-black"><a href="#" class="text-black"></a></h3>
                            <img src="~/img/PrimarySchool.jpg" class="img-fluid" width="580" height="565"/>


                        </div>
                    </div>
                </div>
                <div class="col-md-5 element-animate fadeInUp element-animated">
                    <div class="media d-block media-custom text-left">
                        <!--img src="~/img/schoolcompareheader.jpg" alt="compare school" style="width:100%;height:150px;" class="img-fluid"-->
                        <div class="media-body">

                            <h3 class="mt-0 text-black"><a href="#" class="text-black"></a></h3>
                            <img src="~/img/SecondarySchool.jpg" class="img-fluid" width="580" height="565"/>


                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="row">
                <div class="col-md-12 element-animate fadeInUp element-animated" style="box-sizing:border-box">
                    <div class="media d-block media-custom text-left" style="padding: 0px 20px 0px 10px;">
                        <div class="circle"></div><br />
                                                      <h2>新加坡的陪讀政策，讓家長貼身照顧小朋友</h2>
                                                      <p>
                                                          我們明白家長會擔心小朋友獨自去新加坡留學的適應問題及起居飲食，所以特此介紹新加坡的陪讀簽證，以釋除家長們的疑慮。

                                                      </p>
                                                      <p>新加坡陪讀簽證的申請條件是學生必須是6至16歲、已順利考入新加坡的中小學，並已獲得學生簽證。準備AEIS前期階段的學生並不在此範圍，學生必須獲學校錄取及獲批簽證方可申請家長陪讀簽證。每次獲批的陪讀簽證的有效期為1年，可以一直續簽至學生16歲。</p>
                                                      <p>至於陪讀者的條件，必須為最親的女性家屬，包括母親、外婆和嫲嫲。同時，陪讀者最好有一定的學歷程度及英語水平，提升成功申請的機會。成功獲得陪讀簽證後，陪讀者可以自由往返香港和新加坡兩地。小朋友入學1年後更可以申請工作簽證，在當地一邊工作，一邊照顧小朋友。</p>
                        <div style="clear:both" />
                    </div>
                </div>
            </div>
        </div>

    </div>
        
        </section>
