
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <link href="~/css/landing.css" rel="stylesheet" />
</head>
<body>
    <header id="showcase">
        <h1>
            有移民煩惱? 我們樂意幫助您!
        </h1>
        <div style="display:flex;flex-direction:row;">
        <button class="btn btn-outline-info btn-lg" style="width:200px;margin-right:5%">移民加拿大</button>  <button hef="#" class="btn btn-outline-info btn-lg" style="width:200px;margin-right:5%;float:left">移民新加坡</button>
            </div>
    </header>
   
</body>
</html>
