
@{
    ViewBag.Title = "SingaporeImmigration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div clss="container" style="height:600px;background-image: url('/img/airplane.jpg');background-repeat: no-repeat;background-size:cover;background-attachment: fixed;background-size: 100%" >

    <div class="row" style="">
        <div class="col-md-7 col-sm-12 element-animate fadeInUp element-animated" style="padding:10%;width:700px;">
            <div class="PageTitle" style="width:500px">移民新加坡</div>
           
        </div>
    </div>
</div>


<section class="section bg-light custom-tabs" >
    <div class="container"  style="background:url('/img/cream_dust.png')">
        <div class="row">
            <div class="col-md-4 pt-5 border-right element-animate fadeInLeft element-animated" data-animate-effect="fadeInLeft">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><span>01</span> 創業自僱移民</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span>02</span> 技術移民</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><span>03</span> 創業投資移民</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><span>04</span> 投資移民</a>
                    <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-school" role="tab" aria-controls="v-pills-school" aria-selected="false"><span>05</span> 讀書移民</a>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7 element-animate fadeInLeft element-animated" data-animate-effect="fadeInLeft">

                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <img src="~/img/company.png" />
                        <h2 class="text-primary">創業自僱移民</h2>
                        <!--p class="lead">​適合為子女安排，條件甚為簡易。</p-->
                        <p>
                            申請人的年齡須為50歲或以下，持有大學畢業學歷，並在新加坡創立一門生意
                            ，此計劃對生意範疇沒有太多限制，而申請人需在自立的新公司內擔任高級管
                            理人員。申請人於新加坡的月薪須達到最少新幣3,900元，如要帶同配偶及21歲
                            以下未婚的子女，月薪則要最少達到新幣6,000元。這計劃是相對容易獲得永久
                            居民身份的途徑。
                        </p>

                    </div>
                    <div class="tab-pane fade " id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <img src="~/img/engineer.png" />
                        <h2 class="text-primary">技術移民</h2>
                        <p class="lead">
                            適合年齡50歲以下人士,有足夠技能或勞動能力,主要是針對高中至大學學歷
                            或以上人士及具專業技術資格人才,同時亦有機會為配偶和21歲以下的孩子申
                            請家屬准證。
                        </p>
                        <p>而工作簽證一共分為三大類：</p>
                        <p>
                            第一類：Employment Pass<br />
                            Employment Pass（EP）是一種頒發給管理層，高級專業人士及專業技術人士的
                            工作簽證。申請人須擁有大學畢業學歷底以上,並獲當地僱主聘用,薪金最少
                            達3,900新幣起
                        </p>
                        <p>
                            第二類：S Pass<br />


                            S Pass（SP）申請者須找到新加坡本地僱主，便可申請1至2年的工作准證,申請
                            者在居留期間可無限次出入境,申請者仍被僱用便可延期准證,可申請家屬准
                            證。申請人需持有大專,本科或技術資質認證,薪金須達2,400新幣起。
                        </p>
                        <p>
                            第三類：Work Permit<br />
                            Work Permit（WP）是國際勞工就業准證,它是最低級別准證,獲得永居的機會
                            也最小，並無薪金及學歷要求。
                        </p>

                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <img src="~/img/company.png" />
                        <h2 class="text-primary">創業投資移民</h2>
                        <!--p class="lead">適合有意打算或已開始在新加坡註冊私人有限公司的人士，以企業家、創新者或投資者的身份申請，必須乎合相對創新標準。</!p-->
                        <p>
                            申請人需要在新加坡註冊一間公司，註冊時間不超過6個月，並且最少要投入10
                            萬新幣作為註冊資金。此計劃對申請人的學而申請人可以企業家、創新者或投
                            資者身份申請創業簽證。此創業簽證對於學歷無特定要求，但對於其工作經驗
                            或相關創業背景有一定要求。而對於創業領域亦有限制，此計劃主要希望吸納
                            三大範疇的企業：風險投資、技術研發及天使投資企業。而其他生意範疇，例
                            如：咖啡店、美食中心、僱傭顧問公司、酒吧等則不符合申請要求。因此相比
                            以創業自僱來申請Employment Pass,Entre Pass的門檻會較高。
                        </p>

                      
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <img src="~/img/investment.png" />
                        <h2 class="text-primary">投資移民</h2>
                        <p class="lead">此移民形式可分類為三項：</p>
                        <p>
                            1. 全球商業投資者計劃 Global Investor Programme (GIP)
                            此方案的門檻為眾多計劃中最高，適合資深企業家或投資者。申請人須擁有三
                            年或以上的營商經驗,並要提交所申報的公司近3年的審計財務報告,以證明其
                            創業經商背景。所申報的公司近一年的營業額及於過往三年的平均營業額均需
                            達到5千萬新幣。若公司屬私人擁有，申請人必須最少持股30%,而申請人對公
                            司的貢獻及帶來的生意增長，將會被考慮在內。而申請人需投資至少 250 萬新
                            加坡元開設新公司或擴充現有業務;或投資予全球商業投資者計劃所批準的基
                            金中，投資年期為5年或以上。申請週期為10-12個月,如成功獲批,可一步到
                            位取得永久居民身份 (PR)。
                        </p>
                        <p>
                            2. 增強版基金稅收激勵計畫 (13X)
                            計劃要求申請人有經商背景,而公司營業額要求為5千萬新幣,每年生意支出最低20萬新幣。此計劃好處為,其投資收益可終身免稅。申請週期為6個月,成功獲批後,申請人及部份公司僱員可取得Employment Pass (EP)。

                        </p>
                        <p>
                            3. 基金稅收激勵計畫 (13R)
                            計劃要求申請人有經商背景,而公司營業額要求為5百萬新幣,每年生意支出最低20萬新幣。此計劃好處為,其投資收益可終身免稅。申請週期為6個月,成功獲批後,申請人可取得Employment Pass (EP)。


                        </p>

                    </div>
                    <div class="tab-pane fade " id="v-pills-school" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <img src="~/img/classroom.png" />
                        <h2 class="text-primary">讀書移民</h2>
                        <p>
                            新加坡留學移民較適合小學至初中之學生。而學生須在新加坡居住滿2年或以上,於新加坡的公立學校或私立學校就讀,並能通過以下其中一項新加坡國家級考試,包括：小六離校試PSLE,新加坡普通教育水準會考O-Level及新加坡普通教育高級水準會考A-Level,便有機會申請成為PR。值得注意的是,雖然條件較寬鬆,但新加坡對讀書移民申請人的學術及個人技能條件之批核較為嚴謹,務求能吸納到各地的精英人才於新加坡落地生根。
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


