@{
    ViewBag.Title = "BrigeLink International";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head {
    <meta name="description" content="移民是成为加拿大永久居民(Permanent Resident)的过程，移民申请通过后，由联邦政府发放移民签证，持移民签证登陆加拿大即成为加拿大永久居民，发放枫叶卡，享受和加拿大公民几乎一样的待遇。 永久居民需要每5年在加境内居住满2年才能维持居民身份（永久居民的居住义务），而5年内住满3年可以申请加加拿大">
}



<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url('/img/slider-1.jpg');">

        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 element-animate">
                    <h1>
                        新加坡​升學及移民
                    </h1>
                  <div style="margin-top:30px;">
                        優質而穩定的生活環境<br/>
                        多元的社會文化及語言<br />
                        沿用優良並嚴謹之英國教育制度<br />
                        地理位置鄰近香港<br />
                        已令新加坡成為眾多港人的理想移居地及升學國家<br />
                        博翹多年專注新加坡升學、移民申請，務求以專業貼心的服務，助您達成夢想。<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image: url('/img/slider-2.jpg');">
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 element-animate">
                    <h1>
                        加拿大升學及移民
                    </h1>
                    <div style="margin-top:30px;">
                        廣闊的生活環境<br />
                        多元的社會文化及語言<br />
                        穩定的政治制度<br />
                        工作與生活的平衡<br />
                   
                            多元種族的包容<br />
                       
                        博翹多年專注新加坡升學、移民申請，務求以專業貼心的服務，助您達成夢想。<br />


                    </div>
                    <br/>
                   <a href="http://www.bridgelinkca.com/home/main" target="_blank" class="btn btn-success btn-xl" role="button">想知道更多?</a>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- END slider -->
<section class="container home-feature mb-5">
    <div class="row">
        <div class="col-md-3 p-0 one-col element-animate">
            <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
                <span class="icon flaticon-hospital-bed"></span>
                <h2>創業自僱移民</h2>
               
                <p>
                    申請人的年齡須為50歲或以下，持有大學畢業學歷，並在新加坡創立一門生意 ，此計劃對生意範疇沒有太多限制，而申請人需在自立的新公司內擔任高級管 理人員。申請人於新加坡的月薪須達到最少新幣3,900元，如要帶同配偶及21歲 以下未婚的子女，月薪則要最少達到新幣6,000元。這計劃是相對容易獲得永久 居民身份的途徑。
                </p>
                <!--ol>
                    <li>在新加坡居住兩年或以上</li>
                    <li>新加坡在讀學生</li>
                    <li>通過一項新加坡國家級考試，目前新加坡最常見的三類國家考試分別為：小升初考試、中學畢業考試及 高中畢業考試。</li>
                </ol-->
            </div>
            <a href="/home/SingaporeImmigration" class="btn-more">想知道更多</a>
        </div>
        <div class="col-md-3 p-0 two-col element-animate">
            <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
                <span class="icon flaticon-first-aid-kit"></span>
                <h2>技術移民</h2>
                <p>適合年齡50歲以下人士,有足夠技能或勞動能力,主要是針對高中至大學學歷 或以上人士及具專業技術資格人才,同時亦有機會為配偶和21歲以下的孩子申 請家屬准證。</p>
                <!--p>而工作簽證一共分為三大類：</!--p>
                <p>第一類：Employment Pass<br />Employment Pass（EP）是一種頒發給管理層，高級專業人士及專業技術人士的 工作簽證。申請人須擁有大學畢業學歷底以上,並獲當地僱主聘用,薪金最少 達3,900新幣起</p>
                <p>第二類：S Passes<br />S Pass（SP）申請者須找到新加坡本地僱主，便可申請1至2年的工作准證,申請 者在居留期間可無限次出入境,申請者仍被僱用便可延期准證,可申請家屬准 證。申請人需持有大專,本科或技術資質認證,薪金須達2,400新幣起。</p>
                <p>第三類：Work Permit<br />Work Permit（WP）是國際勞工就業准證,它是最低級別准證,獲得永居的機會 也最小，並無薪金及學歷要求。</p-->
            </div>
            <a href="/home/SingaporeImmigration" class="btn-more">想知道更多</a>
        </div>
        <div class="col-md-3 p-0 three-col element-animate">
            <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
                <span class="icon flaticon-hospital"></span>
                <h2>創業投資移民</h2>
                <p>適合有意打算或已開始在新加坡註冊私人有限公司的人士，以企業家、創新者或投資者的身份申請，必須乎合相對創新標準。</p>
            </div>
            <a href="/home/SingaporeImmigration" class="btn-more">想知道更多</a>
        </div>
        <div class="col-md-3 p-0 three-col element-animate">
            <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
                <span class="icon flaticon-hospital"></span>
                <h2>投資移民</h2>
                <p>目前唯一可直接獲取永久居住准證（PR）的方式。申請人可在新加坡投資，以申請新加坡永久居留權，而申請人的配偶及未婚子女可以作為附屬申請人申請永久居留權。</p>
            </div>
            <a href="/home/SingaporeImmigration" class="btn-more">想知道更多</a>
        </div>
    </div>
</section>
<!-- END section -->
<div class="container-fluid">
    <div class="row  element-animate">
        <!--QRcode, image enlarge when hover img-wrapper, inner-img -->
        <div class="img-wrapper" style="position:fixed;bottom:140px;right:-30px;">
            <!--img class="inner-img" width="115" height="115" src="/img/qr-code.png" /-->
        </div>
        <div style="clear:both" />
    </div>

</div>
<!--contact us image-->
<div class="container-fluid">
    <div class="row  element-animate">

        <div class="img-wrapper" style="position:fixed;bottom:0;right:0;">


            <!--img class="inner-img" width="204" height="130" src="/img/contactus.jpg" data-toggle="modal" data-target="#modalAppointment" /-->
        </div>

    </div>
</div>


<section class="section stretch-section">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-9 text-center mb-5">
                <h2 class="text-uppercase heading border-bottom mb-4">
                    給自己多一個選擇
                </h2>
                <p class="mb-0 lead">
                    博翹國際一直致力提供一條移民、升學及海外房地產服務，本所之專業團隊確保申辦流程快捷並有效。本所總部設於香港，並於加拿大、新加坡及深圳設有分公司。
                    秉承著「誠信、穩健、保密、專業」的宗旨，多年來用心為位客戶提供卓越服務。
                </p>
            </div>
            <div class="col-md-3  mb-5">
                <a href="~/Brochure/mobile" target="_blank"><img src="~/img/shot.png" /></a>
            </div>

            <div class="row align-items-center">

                <div class="col-md-6 stretch-left-1 element-animate" data-animate-effect="fadeInLeft">
                    <img src="/img/servicesprovided.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-6 stretch-left-1-offset pl-md-5 pl-0 element-animate" data-animate-effect="fadeInLeft">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="media d-block media-feature text-center">
                                <object class="logo-img-ftr-svg" type="image/webp" data="/img/dragon.webp"></object>
                                <img src="~/img/dragon.png" height="75" weight="75" />

                                <div class="media-body">
                                    <h3 class="mt-0 text-black">一條龍全家移民</h3>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="media d-block media-feature text-center">
                                <img src="~/img/resident.png" height="75" weight="75" />
                                <div class="media-body">
                                    <h3 class="mt-0 text-black">海外置業</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6"><p>&nbsp;</p></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="media d-block media-feature text-center">
                                <img src="~/img/handshake.png" height="75" weight="75" />
                                <div class="media-body">
                                    <h3 class="mt-0 text-black">拓展/轉移生意到新加坡</h3>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="media d-block media-feature text-center">
                                <img src="~/img/newspaper.png" height="75" weight="75" />
                                <div class="media-body">
                                    <h3 class="mt-0 text-black">開辦新公司</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6"><p>&nbsp;</p></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="media d-block media-feature text-center">
                                <img src="~/img/graduation.png" height="75" weight="75" />
                                <div class="media-body">
                                    <h3 class="mt-0 text-black">

                                        一條龍升學服務
                                    </h3>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="media d-block media-feature text-center">
                                <img src="~/img/motherdaughter.png" width="75" height="75" />
                                <div class="media-body">
                                    <h3 class="mt-0 text-black">
                                        陪讀簽證辦理
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


