
@{
    ViewBag.Title = "SPAEIS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div clss="container" style="height:600px;background-image: url('/img/examination.jpg');background-repeat: no-repeat;background-size:cover;background-attachment: fixed;background-size: 100%">

    <div class="row" style="">
        <div class="col-md-7 col-sm-12 element-animate fadeInUp element-animated" style="padding:10%;width:700px;">
            <div class="PageTitle" style="width:500px">甚麼是AEIS</div>

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12 element-animate fadeInUp element-animated" style="box-sizing:border-box;margin-top:20px;">
            <div class="media d-block media-custom text-left" style="padding: 0px 20px 0px 10px;">
                <div class="circleAEIS"></div><br /><h3>甚麼是AEIS</h3>新加坡政府中小學國際學生統一入學考試（Admissions Exercise for International Students——AIES）是由新加坡教育部專為有意申請就讀新加坡政府中、小學的國際學生統一組織、安排的入學考試，考試時間為每年9月中旬。

                順利通過該考試的國際學生將在次年1月份直接入讀新加坡政府中、小學。
                <div style="clear:both"></div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 element-animate fadeInUp element-animated" style="box-sizing:border-box;margin-top:20px;">
            <div class="media d-block media-custom text-left" style="padding: 0px 20px 0px 10px;">
                <div class="circleCalendar"></div><br /><h3>為AEIS作好準備</h3>AEIS在線評估考試<br />
                為加強學生的能⼒及對考試的熟悉程度，我們會提供Online Mock Exam，協助考生準備 ASIE課程。
                <p>

                    <img src="~/img/AEISImage.png"/>
                </p>
                <div style="clear:both"></div>

            </div>
        </div>
    </div>
</div>



