
@{
    ViewBag.Title = "SPRegistration";
}
<style>

    .TextTitle {
        text-shadow: 1px 1px 1px #ccc;
        font-size: large;
    }
</style>
<div clss="container" style="height:600px;background-image: url('/img/application.jpg');background-repeat: no-repeat;background-size:cover;background-attachment: fixed;background-size: 100%">

    <div class="row" style="">
        <div class="col-md-7 col-sm-12 element-animate fadeInUp element-animated" style="padding:10%;width:700px;">
            <div class="PageTitle" style="width:500px">申請程序</div>

        </div>
    </div>
</div>
<section class="section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 element-animate fadeInUp element-animated">
                <div class="media d-block media-custom text-left">
                    <img src="/img/applicationheader.jpg" alt="Image Placeholder" class="img-fluid">
                    <div class="media-body">

                        <h3 class="mt-0 text-black"><a href="#" class="text-black">申請步驟</a></h3>
                        <p>
                            <ol>

                                <li>申請人物色心儀學校及課程後可直接向學校提交申請報名，並遞交相關要求證明，如畢業證書、語文能力試成績等；</li>
                                <li>新加坡學校審核學生申請，個別大學會安排入學試或面試；</li>
                                <li>如獲學校取錄，新加坡學校會向申請人發出取錄書；</li>

                                <li>
                                    申請人須簽妥取錄接納書，並於限期前寄回學校及繳交學費；
                                </li>
                                <li>申請簽證：申請人必須於開課前最少兩個月前辦理簽證，並提交文件︰申請表、入學通知書、出生證明、護照、學歷及成績證明、照片、學校發給移民局的錄取通知書等；</li>

                                <li>安排住宿、海外留學保險、機票等並準備出發前往當地。</li>
                            </ol>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 element-animate fadeInUp element-animated">
                <div class="media d-block media-custom text-left">
                    <img src="/img/visa.jpg" alt="Image Placeholder" class="img-fluid" style="width:100%">
                    <div class="media-body">

                        <h3 class="mt-0 text-black"><a href="#" class="text-black">​簽證辦理</a></h3>
                        <p>簽證必須由有關的院校代申請人申請。申請人必須於開課時間的最少兩個月前辦理簽證，並且提交以下文件︰</p>
                        <ol>

                            <li>表格（Form 16及Form V36）</li>
                            <li>入學通知書（於網上申請者須另外繳交學校發出的網上申請學生准證通知）</li>
                            <li>出生證明（須有英文譯本）</li>

                            <li>
                                有效護照
                            </li>
                            <li>學歷證明</li>

                            <li>成績證明</li>
                            <li>擔保人證明 Form V39S</li>
                            <li>學校填寫的 Form V36A</li>
                            <li>2張近期彩色或黑白照片</li>
                            <li>學校發給移民局的錄取通知書</li>
                        </ol>


                    </div>
                </div>
            </div>





        </div>
    </div>
</section>

