
@{
    ViewBag.Title = "SPSchoolCompare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div clss="container" style="height:600px;background-image: url('/img/blackboard_lower.jpg');background-repeat: no-repeat;background-size:cover;background-attachment: fixed;background-size: 100%">

    <div class="row" style="">
        <div class="col-md-7 col-sm-12 element-animate fadeInUp element-animated" style="padding:10%;width:700px;">
            <div class="PageTitle" style="width:500px">學制比較</div>

        </div>
    </div>
</div>

<section class="section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 element-animate fadeInUp element-animated" style="box-sizing:border-box">
                <div class="media d-block media-custom text-left" style="padding: 0px 20px 0px 10px;">
                    <div class="circle"></div><br/>國際學生入政府中小學，必須先考政府中小學國際學生統一入學考試 AEIS (Admissions Exercise for International Students)，考試範圍為英文和數學。AEIS 每年只舉行兩次，分別於 2/3 月及 9/10 月。放榜後直接入讀政府不同級別之中小學，教育局會根據考生之 AEIS 成績、年齡、所在地區學校收生情況派位。故有意申請之國際學生，需先入讀教育局指定學院的 AEIS 中小學學生統一入學預備課程（Preparatory course）
                   <div style="clear:both"/>
                </div>
                </div>
            </div>
        <div class="row">
                <div class="col-md-12 element-animate fadeInUp element-animated">
                    <div class="media d-block media-custom text-left">
                        <!--img src="~/img/schoolcompareheader.jpg" alt="compare school" style="width:100%;height:150px;" class="img-fluid"-->
                        <div class="media-body">

                            <h3 class="mt-0 text-black"><a href="#" class="text-black">學制比較</a></h3>
                            <img src="~/img/schoolcompare.jpg" class="img-fluid" />


                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 element-animate fadeInUp element-animated">
                    <div class="media d-block media-custom text-left">
                        <img src="/img/elementaryschool.jpg" alt="Image Placeholder" class="img-fluid">
                        <div class="media-body">

                            <h3 class="mt-0 text-black"><a href="#" class="text-black">小學</a></h3>
                            <p>
                                小學前四年〈小一到小四〉是奠定基礎的階段，接著兩年（小五到小六）為定向階段。


                            </p>
                            <p>

                                奠定基礎的階段著重打好語文和數學基礎，百分之八十的科目是教英語、母語及數學，學生也學音樂、美術與手工藝、寫生及體育與課外活動。
                            </p>
                            <p>
                                小學畢業會考（PSLE）通過後，決定中學必須讀四年或五年。

                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 element-animate fadeInUp element-animated">
                    <div class="media d-block media-custom text-left">
                        <img src="~/img/highschool.jpg" alt="Image Placeholder" class="img-fluid">
                        <div class="media-body">

                            <h3 class="mt-0 text-black"><a href="#" class="text-black">​中學</a></h3>
                            <p>新加坡中學提供兩種課程：一種是四年制快捷課程；另一種是五年制普通課程。國際學生只能報考政府中學中一至中三年級，根據AEIS或S-AEIS成績由教育部統一分配進入政府中學。</p>
                            <p>完成中學學習後，學生參加新加坡劍橋GCE O-Level考試，通過考試的考生可獲得多國認可的GCE O-Level文憑證書。考生可根據GCE O-Level考試成績申請進入新加坡初級學院/中央研究所、理工學院、藝術學院或工藝教育學院，或者是海外英聯邦國家的初級學院或是大學預備班。</p>
                            <p>新加坡劍橋GCE A-Level考試是有新加坡教育部和劍橋大學國際考試局共同主辦的統一考試，通過考試的考生可獲得多國認可的GCE A-Level文憑證書。考生可根據GCE A-Level考試成績申請進入新加坡的大學以及其他海外大學。</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 element-animate fadeInUp element-animated">
                    <div class="media d-block media-custom text-left">
                        <img src="~/img/universityheader.jpg" alt="Image Placeholder" class="img-fluid">
                        <div class="media-body">
                            <div class="media-body">
                                <h3 class="mt-0 text-black"><a href="#" class="text-black">大學</a></h3>
                                <p>新加坡有多所政府及私立大學，其中新加坡國立大學是亞洲最頂尖的大學。一般每年八月開學，大部分學士學位課程為期三年，碩士學位課程為期一年半，博士學位課程為期四年。</p>


                            </div>
                        </div>
                    </div>
                </div>




            </div>

        </div>
        
        </section>
