
@{
    ViewBag.Title = "SPSchools";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div clss="container" style="height:600px;background-image: url('/img/blackboard.jpg');background-repeat: no-repeat;background-size:cover;background-attachment: fixed;background-size: 100%">

    <div class="row" style="">
        <div class="col-md-7 col-sm-12 element-animate fadeInUp element-animated" style="padding:10%;width:700px;">
            <div class="PageTitle" style="width:500px">新加坡學校</div>

        </div>
    </div>
</div>

<section class="section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 element-animate fadeInUp element-animated">
                <div class="media d-block media-custom text-left">
                    <img src="/img/header1.jpg" alt="Image Placeholder" class="img-fluid">
                    <div class="media-body">
                      
                        <h3 class="mt-0 text-black"><a href="#" class="text-black">公立學校</a></h3>
                        <p>
                            公立小學：一年學費約600新幣

                        </p>
                        <p>

                            公立中學：一年學費約6000新幣
                        </p>
                        <p>
                            公立大學：本科學費約為11000-12000新幣/年；新加坡政府理工本科留學費用25000新幣/年（學院對所有外國學生給予70%補助，這樣算下來一年約40000新幣）

                        </p>
                     
                    </div>
                </div>
            </div>
            <div class="col-md-4 element-animate fadeInUp element-animated">
                <div class="media d-block media-custom text-left">
                    <img src="/img/header2.jpg" alt="Image Placeholder" class="img-fluid">
                    <div class="media-body">
                        
                        <h3 class="mt-0 text-black"><a href="#" class="text-black">​私立學校</a></h3>
                        <p>私立中學：一年學費約6000新幣</p>
                        <p>私立大學：本科一年學費約為12000-18000新幣。新加坡私立大學碩士一年學費約為20000-30000新幣。</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-4 element-animate fadeInUp element-animated">
                <div class="media d-block media-custom text-left">
                    <img src="/img/header3.jpg" alt="Image Placeholder" class="img-fluid">
                    <div class="media-body">
                      
                            <h3 class="mt-0 text-black"><a href="#" class="text-black">國際學校</a></h3>
                            <p>國際小學：一年學費約26000新幣</p>
                            <p>國際中學：一年學費約26000-27000新幣 </p>
                            <p>國際大學：一年學費約10000-18000新幣新幣</p>

                        
                    </div>
                </div>
        </div>

     

        
    </div>
        </div>
        </section>
