
@{
    ViewBag.Title = "WhySingapore";
}


@{
    ViewBag.Title = "SingaporeImmigration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div clss="container" style="height:600px;background-image: url('/img/why2.jpg');background-repeat: no-repeat;background-size:cover;background-attachment: fixed;background-size: 100%">

    <div class="row" style="">
        <div class="col-md-7 col-sm-12 element-animate fadeInUp element-animated" style="padding:10%;width:700px;">
            <div class="PageTitle" style="width:500px; color:#007BFF">移民新加坡的4大好處</div>

        </div>
    </div>
</div>

    <section class="section bg-light custom-tabs">
        <div class="container">
            <div class="row">
                <div class="col-md-4 border-right element-animate fadeInLeft element-animated" data-animate-effect="fadeInLeft">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><span>01</span> 新加坡價廉物美的優質居所</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span>02</span> 新加坡傑出的教育及師資</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><span>03</span> ​新加坡的優質醫療系統</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-competition" role="tab" aria-controls="v-pills-competition" aria-selected="false">
                            <span>04</span> ​新加坡極具競爭力及
                            自由穩定的經濟地位
                        </a>

                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7 element-animate fadeInLeft element-animated" data-animate-effect="fadeInLeft">

                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        
                            <h2 class="text-primary">新加坡價廉物美的優質居所</h2>

                            <p>
                                新加坡的房屋政策一向是香港的參考對象，只因當地成功把房地產市場分割成兩個市場: 投資與自住需求。「每個新加坡人都有一間自己的房子」是建國之父李光耀先生的政策，他因而推出「一人一國宅」的購屋計劃。新加坡現時有超過8成人口是購入國宅「組屋」，當地樓價合理，而「組屋」樓價相對更低，容易負擔，而使到絕大部分的新加坡人都安居樂業，反映新加坡政府努力不懈為本地人提供一個安居之所。

                            </p>
                            <p>新加坡的組屋政策主要目的是希望讓新加坡人可以擁有一套屬於自己的房屋，避免本地人長期以租住作為主要居住途徑。而為了讓市民可以更容易負擔得起，新加坡的建屋發展局 (HDB) 將會以供款入息的比率作為購買房屋的經濟負擔指標，供款入息的比率並不會高於供款人的負擔能力的30%到35%，以保障供款人的負擔能力。以新加坡北部的三房組屋為例，售價約30萬新加坡元（約173萬港元），首次購屋只需付首期，公積金 (CPF)可補貼約當中20至30%供款。</p>
                            <p>除了容易負擔的樓價外，不論是組屋還是私人住宅，新加坡的居住環境都較香港舒適，因為普遍的新加坡樓會比香港大一倍。租屋 (HDB) 平均大約有750-850 平方呎，有些更達至過千呎，而新加坡政府更規定整幢私人屋苑單位的平均面積更是最少達915 平方呎，同時屋苑要有充足的休憩及綠化空間，讓國民享有宜人的住屋環境。</p>
                            <p>在租金價格方面，核心地區的聖淘沙、烏節路、諾維娜、武吉知馬等月租大約3500-4000新幣，核心地區的外圍租金大約3000-3500新幣，核心地區以外的單位租金大約為2500-3000新幣。各類型的單位都有市場，適合自住，亦可以是高回報的投資選擇。</p>

                        </div>
                        <div class="tab-pane fade " id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                       
                            <h2 class="text-primary">新加坡傑出的教育及師資</h2>

                            <p>
                                於「國際教育成就評價協會」（IEA）公佈的「國際數學和科學評測趨勢」（TIMSS）測試結果，新加坡的中小學生在數學和科學科目的測試中取得了最佳成績，全部排名第一。新加坡的教育質素冠絕全球，全因新加坡政府把教育放在首位，嚴選老師的質素，帶給新加坡學生最好的教育。

                            </p>
                            <p>新加坡的老師遴選是非常嚴謹的。大部分符合學術要求的申請者要經過國立教育學院。進入國立教育學院的資格是必須通過嚴格考核。通過考試者會可在國立教育學院培訓，培訓結束後才獲得教育文憑。此後，教師規定了每年要參加100小時的在職培訓，每5年可以有一次出國進修2個月的機會，所需費用全由政府公費支付。老師年終的評估將作為第二年新評估的基礎和參考，也作為年終獎的一個標準。評估分為ABCDE五個等級。DE等級只佔2%左右，連續兩年DE等級將被淘汰。可見新加坡對教師的質素要求絕不馬虎，以保持新加坡教育在全球領先的地位。</p>
                            <p>而新加坡的教育制度是沿用傳統英式教育制度，跟其他英聯邦國家十分相似，學生完全可以無縫銜接外國名牌大學，因此新加坡亦被視為升讀海外一流大學的跳板。除了公立學校和私立學校外，新加坡整體國際學校的IB成績更是全球第一。以英華學校為例子，在往年的IB考試中，都取得了驕人的成績，更獲得了新加坡教育部頒發的卓越學校獎（School Excellence Award）以及傑出學校獎（School Distinguished Award）這兩個最高榮譽。於2020年的成績更是亮眼，全校擁有100%的合格率，平均分41分（總分45分），77%的學生考取40分及以上，要知道IB成績達到38分左右即有資格申請劍橋大學、牛津大學、哈佛大學、長春藤（Ivy League）等國際頂尖學府。當然，英華學校亦只是其中一間出色的國際學校，新加坡是以擁有多所傑出國際學校著稱，完全突顯出新加坡國際學校的教育質素。</p>
                            <p>除了到外國升學，新加坡的大學一向在國際享譽盛名，在一些教育權威性組織都名列前茅。新加坡國立大學和南洋理工大學在2020年QS世界大學分別排名第11及第13， 在泰晤士高等教育 (THE)世界大學排名分別排25及48。而於QS亞洲大學排名，新加坡國立大學更已連續3年排名第一，而南洋理工大學亦緊隨排第二，可見新加坡高等學府教育於國際間是甚具競爭力。</p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                          
                            <h2 class="text-primary">新加坡的優質醫療系統</h2>

                            <p>
                                <br/>
                                根據世衛發佈的資料中，新加坡的醫療系統憑藉卓越的醫護人員和系統，其排名先於香港和日本，位列亞洲第一。國際新聞機構彭博(Bloomberg)也曾評價新加坡的醫療系統為「最有效率」，可見新加坡的醫療領先全球。
                            </p>
                            <p>新加坡的醫院制度分為公營和私營，兩者同樣有質素保證。公營方面，雖然是由政府擁有，但每一間都以獨立有限公司模式經營，質素絕對與私營醫院無異。由基本的門診服務，住院服務，去到經轉介的手術服務，均具保證。私營方面，大部分醫院更獲得國際認可鑑定機構Joint Commission International (JCL)認可，質素媲美歐洲和美國。著名的公私營醫院包括有: Singapore General Hospital (SGH)，National University Hospital (NUH)，Mount Elizabeth Hospital (Mount E)和Gleneagles Hospital Singapore (GHS)。</p>
                            <p>雖然新加坡擁有如此卓越的醫療服務，但其實一般醫療都可以用公積金 （CPF）代為支付部分費用，以確保國民不用承擔過重的醫療費用壓力便可得到合適且優質的治療。</p>

                        </div>
                        <div class="tab-pane fade" id="v-pills-competition" role="tabpanel" aria-labelledby="v-pills-competition">
                          
                            <h2 class="text-primary">
                                新加坡極具競爭力及
                                自由穩定的經濟地位
                            </h2>

                            <p>
                                新加坡以政治穩定、低腐敗率和公共機構的公開透明見稱，加上穩健的貨幣和財政政策，健全的司法體系，新加坡一直是各大企業及創業者信賴的合作夥伴。
                                新加坡是一個多元經濟體，政府會運用龐大的財政和行政力量協助其內外經濟穩定發展。美國傳統基金會與《華爾街日報》2020年的「經濟自由度指數」報告排名，新加坡榮列榜首，因此新加坡也是全球競爭力最強及最穩定政局的國家之一。在短短的五十年裡，新加坡已發展成為全球最先進的經濟體之一。新加坡積極升級親商政策，緊跟全球發展的步伐。截至目前，新加坡的國內生產總值（GDP）仍然高居地區榜首。
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


