
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="caption">

                    <div class="line-dec"></div>
                    <h4>
                        天有不測的風雲;您準備好保護您的摯愛和親人了嗎？
                    </h4>
                    <!--div class="main-button">
                        <a href="#">Order Now!</a>
                    </!--div-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-heading" style="margin: 0 auto;width:80%;margin-top:70px">
    <p style="width:80%;margin:0 auto;">
        <div class="line-dec"></div>
        我們謹向所有因2018年大阪北部地震遭受嚴重破壞的人
        表示最深切的同情，並為受災者的康復祈禱。<br /><br />
        我們向在2016年熊本地震中喪生的人表示最深切的哀悼，並為受災地區的重建祈禱。<br /><br />
        我們向東日本大地震的受害者表示
        最深切的同情，並為災區的重建祈禱。
    </p>
  
</div>
<div class="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <!--h1>熱賣中</!--h1-->
                    <h1>人氣商品</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme owl-loaded owl-drag">









                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-1412px, 0px, 0px); transition: all 0s ease 0s; width: 5368px;">
                            <div class="owl-item active" style="width: 262.5px; margin-right: 20px;">
                                <a href="/Product/Bag_1010">
                                    <div class="featured-item">
                                        <img src="~/images/Products/1010_01.png" alt="Item 5">
                                        <h4> ISU 包裝</h4>
                                        <h6>¥15,000</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item active" style="width: 262.5px; margin-right: 20px;">
                                <a href="/Product/Bag_105">
                                    <div class="featured-item">
                                        <img src="/images/Products/105_01.png" alt="Item 6">
                                        <h4>WH防災單肩包</h4>
                                        <h6>¥2,500</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item active" style="width: 262.5px; margin-right: 20px;">
                                <a href="/Product/DPS_3080">
                                    <div class="featured-item">
                                        <img src="~/images/Products/3080_01.jpg" alt="Item 7">
                                        <h4>活著肩膀22</h4>
                                        <h6>¥8,000</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item active" style="width: 262.5px; margin-right: 20px;">
                                <a href="/Product/DPS_3100">
                                    <div class="featured-item">
                                        <img src="~/images/Products/3100_01.jpg" alt="Item 8">
                                        <h4>ISU PACKER防災套裝</h4>
                                        <h6>¥20,000</h6>
                                    </div>
                                </a>
                            </div><div class="owl-item active" style="width: 262.5px; margin-right: 20px;">
                                <a href="/Product/DPS_3200">
                                    <div class="featured-item">
                                        <img src="~/images/Products/3200_01.jpg" alt="Item 9">
                                        <h4>ISU PACKER防災套裝DX</h4>
                                        <h6>¥25,000</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="owl-item active" style="width: 262.5px; margin-right: 20px;">
                                <a href="/Product/DPS_4070">
                                    <div class="featured-item">
                                        <img src="~/images/Products/4070_01.jpg" alt="Item 9">
                                        <h4>第一運動套件 DX</h4>
                                        <h6>¥10,000</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><button role="button" class="owl-dot"><span></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
