
@{
    ViewBag.Title = "Manuals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    
    th {
        font-weight: 600;
        color: #ffffff;
        background-color: #3A8BCD;
    }

    .pdfimage {
        height: 73px;
        width: 60px;
        margin-left: 15px;
    }

    .lblInstructions {
        margin: 70px auto;
        font-weight: 600;
        font-size: larger;
        width: 80%;
    }
   
        
</style>
<div id="wrapper">
    <div class="section-heading" style="margin: 0 auto;width:80%;margin-top:70px">
        <p style="width:80%;margin:0 auto;">
            <div class="line-dec"></div>
            <h1>您可以查看和下載PDF的使用說明書 <br />需要Adobe Acrobat Reader才能查看PDF文件</a></h1>
            <br /><a href="https://get.adobe.com/reader/" target="_blank"><img src="/images/AdobeReader.png" />
        </p>
    </div>

    <table id="example" class="table table-bordered table table-hover" style="width:80%;margin:20px auto;">
        <thead>
            <tr>
                <th>產品分類</th>
                <th>產品編號</th>
                <th>產品名稱</th>
                <th>下載</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    無線電燈 (插入
                    式)
                </td>
                <td>5605C</td>
                <td>多電站2</td>
                <td><a target="_blank" href="~/PDF/5605C.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    無線電燈 (插入
                    式)
                </td>
                <td>6991C</td>
                <td>多功能充電器</td>
                <td><a target="_blank" href="~/PDF/6991C.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>無線電燈 (多功能型)</td>
                <td>6000C</td>
                <td>斯特林渦輪</td>
                <td><a target="_blank" href="~/PDF/6000C.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>無線電燈 (多功能型)</td>
                <td>5833C</td>
                <td>戴納摩斯翼射燈</td>
                <td><a target="_blank" href="~/PDF/5833c.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>無線電燈 (多功能型)</td>
                <td>5963C</td>
                <td>迷你發電機無線電燈/td>
<td><a target="_blank" href="~/PDF/5963C.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    無線電燈(戶外
                    防滴型)
                </td>
                <td>5818</td>
                <td>發電機防滴電筒收音機“ D”</td>
                <td><a target="_blank" href="~/PDF/5818.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    無線電燈 (方便型)
                </td>
                <td>5599</td>
                <td>LED手提收音機</td>
                <td><a target="_blank" href="~/PDF/5599.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    無線電燈 (方便型)
                </td>
                <td>4505</td>
                <td>LED手電筒燈</td>
                <td><a target="_blank" href="~/PDF/4505.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    配件
                </td>
                <td>6125C</td>
                <td>便攜式充電器</td>
                <td><a target="_blank" href="~/PDF/6125C.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    LED燈
                </td>
                <td>RL250</td>
                <td>修身燈籠</td>
                <td><a target="_blank" href="~/PDF/RL250.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    LED燈
                </td>
                <td>6495</td>
                <td>磁鐵夾燈</td>
                <td><a target="_blank" href="~/PDF/6495.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    LED燈
                </td>
                <td>FL350</td>
                <td>3 + 4 LED燈</td>
                <td><a target="_blank" href="~/PDF/FL350.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    LED燈
                </td>
                <td>6440</td>
                <td>LED書燈</td>
                <td><a target="_blank" href="~/PDF/6440.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    LED燈
                </td>
                <td>6330</td>
                <td>Dyna緊湊型LED手電筒</td>
                <td><a target="_blank" href="~/PDF/6330.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    戶外燈籠
                </td>
                <td>6350</td>
                <td>伸縮手提燈籠</td>
                <td><a target="_blank" href="~/PDF/6350.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>

            <tr>
                <td>
                    戶外燈籠
                </td>
                <td>6255</td>
                <td>遠程防滴燈籠</td>
                <td><a target="_blank" href="~/PDF/6255.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    戶外燈籠
                </td>
                <td>6221</td>
                <td>防滴漏燈籠</td>
                <td><a target="_blank" href="~/PDF/6221.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    戶外燈籠
                </td>
                <td>6250</td>
                <td>遙控LED燈籠12</td>
                <td><a target="_blank" href="~/PDF/6250.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    無線電
                </td>
                <td>6930</td>
                <td>AM / FM 立體聲袖珍收音機</td>
                <td><a target="_blank" href="~/PDF/6930.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    無線電
                </td>
                <td>6940</td>
                <td>FM / AM數字廣播</td>
                <td><a target="_blank" href="~/PDF/6940.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    無線電
                </td>
                <td>6950</td>
                <td>立體聲數字接收器</td>
                <td><a target="_blank" href="~/PDF/6950.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    無線電
                </td>
                <td>6485</td>
                <td>數字袖珍收音機</td>
                <td><a target="_blank" href="~/PDF/6485.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    無線電
                </td>
                <td>6480</td>
                <td>AM / FM 台式收音機</td>
                <td><a target="_blank" href="~/PDF/6480.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    無線電
                </td>
                <td>6490</td>
                <td>2頻段夾式收音機</td>
                <td><a target="_blank" href="~/PDF/6490.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    太陽能收音機
                </td>
                <td>6450</td>
                <td>太陽能收音機</td>
                <td><a target="_blank" href="~/PDF/6450.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    人體感應器
                </td>
                <td>6360</td>
                <td>LED人體感應燈</td>
                <td><a target="_blank" href="~/PDF/6360.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    人體感應器
                </td>
                <td>6370</td>
                <td>停電傳感器人燈</td>
                <td><a target="_blank" href="~/PDF/6370.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    無線電鐘
                </td>
                <td>5622</td>
                <td>緊湊型收音機時鐘</td>
                <td><a target="_blank" href="~/PDF/5622.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            <tr>
                <td>
                    無線電鐘
                </td>
                <td>5623</td>
                <td>無線電時鐘計算器</td>
                <td><a target="_blank" href="~/PDF/5623.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    無線電鐘
                </td>
                <td>5567</td>
                <td>木架收音機時鐘</td>
                <td><a target="_blank" href="~/PDF/5567.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    香氣擴散器
                </td>
                <td>7010</td>
                <td>香霧豆莢ICHIRIN閃光</td>
                <td><a target="_blank" href="~/PDF/7010.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    香氣擴散器
                </td>
                <td>7030</td>
                <td>香氣霧莢果素</td>
                <td><a target="_blank" href="~/PDF/7030.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>

            <tr>
                <td>
                    香氣擴散器
                </td>
                <td>7020</td>
                <td>香薰風格</td>
                <td><a target="_blank" href="~/PDF/7020.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    香氣擴散器
                </td>
                <td>7000</td>
                <td>香霧吊艙ICHIRIN</td>
                <td><a target="_blank" href="~/PDF/7000.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    香氣擴散器
                </td>
                <td>6700</td>
                <td>照明香氣</td>
                <td><a target="_blank" href="~/PDF/6700.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    香氣擴散器
                </td>
                <td>6720</td>
                <td>蠟燭LED香氣</td>
                <td><a target="_blank" href="~/PDF/6720.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    紅酒開瓶器
                </td>
                <td>8010</td>
                <td>空氣紅酒開瓶器4件套</td>
                <td><a target="_blank" href="~/PDF/8010.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    紅酒開瓶器
                </td>
                <td>8020</td>
                <td>空氣紅酒開瓶器2件套</td>
                <td><a target="_blank" href="~/PDF/8020.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    紅酒開瓶器
                </td>
                <td>8030</td>
                <td>開瓶器開瓶器4件套</td>
                <td><a target="_blank" href="~/PDF/8030.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
            <tr>
                <td>
                    紅酒開瓶器
                </td>
                <td>8040</td>
                <td>開瓶器開瓶器2件套</td>
                <td><a target="_blank" href="~/PDF/8040.pdf"><img class="pdfimage" src="~/images/download.png" /></a></td>

            </tr>
</table>

</div>


